.aboutus {
  display: flex;
  margin-bottom: 250px;
}

.aboutus__img {
  margin-right: 190px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.aboutus__text {
  max-width: 500px;
  margin-top: 250px;
  h2 {
    max-width: 288px;
    font-family: "NeutralFace-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 106%;
    color: #212121;
    margin-bottom: 30px;
  }
  p {
    max-width: 444px;
    min-height: 134px;
    font-family: "PTRootUIWebRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 148%;
    color: #212121;
  }
}

.aboutus__img-bottom {
  margin-bottom: 250px;
  img {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1920px) {
  .aboutus {
    margin-bottom: 300px;
  }

  .aboutus__img {
    margin-right: 220px;
  }

  .aboutus__text {
    margin-top: 350px;
  }

  .aboutus__img-bottom {
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 300px;
  }
}

////////////////////////////////////////////////1024px
@media (max-width: 1024px) {
  .aboutus {
    margin-bottom: 190px;
  }

  .aboutus__img {
    margin-right: 110px;
    img {
      max-width: 460px;
    }
  }

  .aboutus__text {
    margin-top: 170px;
    h2 {
      font-size: 40px;
      line-height: 106%;
    }
    p {
      font-size: 16px;
      line-height: 148%;
      max-width: 313px;
    }
  }

  .aboutus__img-bottom {
    margin-bottom: 190px;
  }
}

////////////////////////////////////////////////768px
@media (max-width: 768px) {
  .aboutus {
    margin-bottom: 170px;
  }
  .aboutus__img {
    margin-right: 60px;
    img {
      max-width: 350px;
    }
  }
  .aboutus__text {
    margin-top: 131px;
    h2 {
      font-size: 36px;
      line-height: 106%;
    }
    p {
      max-width: 292px;
      font-size: 15px;
      line-height: 148%;
    }
  }

  .aboutus__img-bottom {
    margin-bottom: 170px;
  }
}
@media (max-width: 840px) {
  .aboutus__img {
    margin-right: 40px;
  }
}

@media (max-width: 640px) {
  .aboutus {
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .aboutus__img {
    margin-right: 0;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }

  .aboutus__text {
    width: 80%;
    margin-top: 0;
    margin: 0 auto;
    h2 {
      font-size: 34px;
    }
    p {
      width: 100%;
      font-size: 15px;
      line-height: 148%;
    }
  }

  .aboutus__img-bottom {
    margin-bottom: 100px;
  }
}

////////////////////////////////////////////////480px
@media (max-width: 480px) {
  .aboutus {
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .aboutus__img {
    margin-right: 0;
    width: 100%;
    margin-bottom: 60px;
    img {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }

  .aboutus__text {
    width: 80%;
    margin-top: 0;
    margin: 0 auto;
    h2 {
      font-size: 34px;
    }
    p {
      width: 100%;
      font-size: 15px;
      line-height: 148%;
    }
  }

  .aboutus__img-bottom {
    margin-bottom: 100px;
  }
}
