.aboutus-page {
  display: flex;
  width: 100%;
  min-height: 135px;
  margin-top: 112px;
  margin-bottom: 250px;

  opacity: 0;
  transition: 1s;

  h2 {
    width: 344px;
    height: 125px;
    margin-right: 90px;
    font-family: "NeutralFace-Bold";
    font-size: 48px;
    line-height: 106%;
    color: #212121;
  }
  p {
    max-width: 541px;
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    span {
      font-family: "PTRootUIWebBold";
    }
  }
}

.aboutus-page._active {
  opacity: 1;
}

.aboutus-page__img {
  opacity: 0;
  transition: 1s;
  img {
    width: 100%;
  }
}

.aboutus-page__img._active {
  opacity: 1;
}

.aboutus-page__team {
  max-width: 560px;
  margin: 0 auto;
  margin-top: 250px;
  margin-bottom: 250px;

  opacity: 0;
  transition: 1s;

  h3 {
    font-family: "PTRootUIWebBold";
    font-size: 36px;
    line-height: 106%;
    color: #212121;
    margin-bottom: 30px;
  }
  p {
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-bottom: 10px;
  }
  ul {
    margin: 0;
    li {
      font-family: "PTRootUIWebRegular";
      font-size: 18px;
      line-height: 148%;
      color: #212121;
      margin-bottom: 5px;
      span {
        font-family: "PTRootUIWebBold";
      }
    }
  }
}

.aboutus-page__team._active {
  opacity: 1;
}

.aboutus-page__team-img {
  display: flex;
  opacity: 0;
  transition: 1s;
}
.aboutus-page__team-img._active {
  opacity: 1;
}

.aboutus-page__team-img-one {
  max-width: 724px;
  margin-right: 26px;
  img {
    display: block;
    width: 100%;
  }
}
.aboutus-page__team-img-two {
  max-width: 530px;
  img {
    display: block;
    width: 100%;
  }
}

.aboutus-page__studio {
  max-width: 560px;
  margin: 0 auto;
  margin-top: 250px;
  margin-bottom: 250px;
  opacity: 0;
  transition: 1s;
  h3 {
    font-family: "PTRootUIWebBold";
    font-size: 36px;
    line-height: 106%;
    color: #212121;
    margin-bottom: 30px;
  }
  p {
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-bottom: 20px;
  }
  ul {
    margin: 0;
    margin-bottom: 20px;
    li {
      font-family: "PTRootUIWebRegular";
      font-size: 18px;
      line-height: 148%;
      color: #212121;
      margin-left: 15px;
      margin-bottom: 10px;
      position: relative;
      &:before{
        position: absolute;
        content: '';
        top: 11px;
        left: -15px;
        z-index: 1;
        width: 6px;
        height: 6px;
        // border: 1px solid #000;
        background-color: #aaa9a9;
        border-radius: 50%;
      }
    }
  }
}

.aboutus-page__studio._active {
  opacity: 1;
}

.aboutus-page__img-full {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 110px;
  opacity: 0;
  transition: 1s;
  img {
    width: 100%;
  }
}

.aboutus-page__img-full._active {
  opacity: 1;
}

.aboutus-page__last-img {
  opacity: 0;
  transition: 1s;
}

.aboutus-page__last-img._active {
  opacity: 1;
}

@media (min-width: 1920px) {
  .aboutus-page {
    margin-bottom: 300px;
    h2 {
      margin-right: 200px;
    }
  }

  .aboutus-page__team {
    max-width: 694px;
    margin-top: 300px;
    margin-bottom: 300px;
  }

  .aboutus-page__team-img {
    justify-content: space-between;
  }
  .aboutus-page__team-img-one {
    max-width: 900px;
    height: 700px;
    overflow: hidden;
    margin-right: 0;
    img {
      display: block;
      width: 100%;
    }
  }
  .aboutus-page__team-img-two {
    max-width: 670px;
    height: 700px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
    }
  }

  .aboutus-page__studio {
    max-width: 694px;
    margin-top: 300px;
    margin-bottom: 300px;
  }

  .aboutus-page__img-full {
    margin-bottom: 140px;
  }
}

@media (max-width: 1024px) {
  .aboutus-page {
    max-width: 680px;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 190px;
    h2 {
      width: 260px;
      height: 40px;
      margin-right: 0;
      font-size: 40px;
      margin-bottom: 40px;
    }
    p {
      max-width: 427px;
      font-size: 16px;
      line-height: 126%;
      margin-bottom: 24px;
    }
  }

  .aboutus-page__team {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 190px;
    margin-bottom: 190px;
    h3 {
      font-size: 32px;
      line-height: 106%;
    }
    p {
      max-width: 540px;
      font-size: 16px;
      line-height: 148%;
      margin-bottom: 30px;
    }
  }

  .aboutus-page__team-img-one {
    margin-right: 20px;
  }

  .aboutus-page__studio {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 190px;
    margin-bottom: 190px;
    h3 {
      font-size: 32px;
      line-height: 106%;
    }
    p {
      max-width: 512px;
      font-size: 16px;
      line-height: 148%;
    }
  }

  .aboutus-page__img-full {
    margin-bottom: 110px;
  }

  .aboutus-page__last-img {
    // margin-left: 205px;
    max-width: 680px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .aboutus-page {
    // max-width: 590px;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 170px;
    flex-direction: column;
    h2 {
      width: 260px;
      height: 36px;
      font-size: 36px;
    }
    p {
      max-width: 427px;
      font-size: 15px;
      line-height: 126%;
      margin-bottom: 24px;
    }
  }

  .aboutus-page__team {
    // max-width: 590px;
    width: 70%;
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 170px;
    h3 {
      font-size: 28px;
      margin-bottom: 22px;
    }
    p {
      max-width: 500px;
      font-size: 15px;
      margin-bottom: 22px;
    }
  }

  .aboutus-page__studio {
    // max-width: 590px;
    width: 70%;
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 170px;
    h3 {
      font-size: 28px;
      margin-bottom: 22px;
    }
    p {
      max-width: 480px;
      font-size: 15px;
      margin-bottom: 22px;
    }
  }

  .aboutus-page__img-full {
    margin-bottom: 90px;
  }

  .aboutus-page__last-img {
    // max-width: 590px;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .aboutus-page {
    // max-width: 248px;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 60px;
    h2 {
      // width: 240px;
      width: 100%;
      height: 34px;
      font-size: 34px;
    }
    p {
      // max-width: 246px;
      width: 100%;
      font-size: 15px;
      line-height: 148%;
      margin-bottom: 24px;
    }
  }

  .aboutus-page__team {
    // max-width: 248px;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    h3 {
      font-size: 24px;
    }
    p {
      // max-width: 246px;
      width: 100%;
      font-size: 15px;
      line-height: 144%;
    }
  }

  .aboutus-page__team-img-one {
    margin-right: 10px;
  }

  .aboutus-page__studio {
    // max-width: 248px;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    h3 {
      font-size: 24px;
      line-height: 106%;
    }
    p {
      // max-width: 246px;
      width: 100%;
      font-size: 15px;
      line-height: 148%;
    }
  }

  .aboutus-page__img-full {
    margin-bottom: 100px;
  }

  .aboutus-page__last-img {
    // max-width: 248px;
    width: 80%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
