.contactus-page__img {
  display: flex;
  margin-top: 112px;
  margin-bottom: 250px;
}

.contactus-page__img-one {
  margin-right: 26px;
  img {
    width: 100%;
  }
}
.contactus-page__img-two {
  img {
    width: 100%;
  }
}

.contactus-page {
  margin-bottom: 80px;
}

.contactus-page__list {
  display: flex;
  justify-content: space-between;
  ul {
    li:last-child {
      margin-right: 158px;
    }
  }
}

.map {
  margin-bottom: 250px;
  img {
    width: 100%;
    height: auto;
  }
}

.map-link {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 257px;
    left: 611px;
    z-index: 1;
    background-image: url(../img/map/pin.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 72px;
    height: 72px;
    transition: 0.5s;
  }
  &:hover::before {
    width: 78px;
    height: 78px;
  }
}

.contactus-page__list-item {
  a {
    display: block;
    text-decoration: none;
    font-family: "PTRootUIWebRegular";
    font-size: 21px;
    line-height: 142%;
    display: flex;
    align-items: center;
    color: #212121;
  }

  p {
    font-family: "PTRootUIWebRegular";
    font-size: 21px;
    line-height: 142%;
    color: #212121;
  }

  // .map-link {
  //   font-family: "PTRootUIWebBold";
  //   font-size: 21px;
  //   line-height: 142%;
  //   color: #212121;
  //   text-decoration: underline;
  //   transition: 0.2s;
  //   &:hover {
  //     text-decoration: none;
  //   }
  //   &:active {
  //     opacity: 0.7;
  //   }
  // }
}

.contactus-page-social__list {
  display: flex;
  align-items: center;
  li {
    text-decoration: none;
    font-family: "NeutralFace-Bold";
    font-size: 28px;
    line-height: 106%;
    color: #212121;
  }
  a {
    text-decoration: none;
    font-family: "NeutralFace-Bold";
    font-size: 28px;
    line-height: 106%;
    color: #212121;
    transition: 0.2s;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
}
@media (min-width: 1920px) {
  .contactus-page__img {
    margin-bottom: 300px;
  }

  .contactus-page__list {
    display: flex;
    justify-content: space-between;
    ul {
      li:last-child {
        margin-right: 233px;
      }
    }
  }

  .map {
    // height: 720px;
    // overflow: hidden;
    margin-bottom: 300px;
  }
}

@media (max-width: 1024px) {
  .contactus-page__img-one {
    margin-right: 20px;
  }

  .contactus-page__img {
    margin-top: 60px;
    margin-bottom: 190px;
  }

  .contactus-page {
    margin-bottom: 60px;
  }

  .map {
    // height: 600px;
    margin-bottom: 190px;
  }

  .contactus-page__list {
    ul {
      li:last-child {
        margin-right: 0;
      }
    }
  }

  .contactus-page__list-item {
    a {
      font-size: 18px;
      line-height: 140%;
    }

    p {
      font-size: 18px;
      line-height: 140%;
    }
  }

  .contactus-page-social__list {
    li {
      font-size: 26px;
      line-height: 106%;
    }
    a {
      font-size: 26px;
      line-height: 106%;
    }
  }
}
@media (max-width: 768px) {
  .contactus-page__img {
    margin-top: 20px;
    margin-bottom: 170px;
  }

  .contactus-page {
    margin-bottom: 50px;
  }

  .map {
    // height: 460px;
    margin-bottom: 170px;
  }

  .contactus-page__list-item {
    a {
      font-size: 16px;
      line-height: 148%;
    }

    p {
      font-size: 16px;
      line-height: 148%;
    }
  }

  .contactus-page-social__list {
    li {
      font-size: 24px;
      line-height: 106%;
    }
    a {
      font-size: 24px;
      line-height: 106%;
    }
  }
}
@media (max-width: 480px) {
  .contactus-page__img-one {
    margin-right: 10px;
  }

  .contactus-page__img {
    margin-top: 15px;
    margin-bottom: 100px;
  }

  .contactus-page {
    margin-bottom: 60px;
  }

  .map {
    margin-bottom: 100px;
  }

  .contactus-page__list {
    flex-wrap: wrap;
    gap: 40px;
  }
  .contactus-page__list-item {
    a {
      font-size: 15px;
      line-height: 148%;
    }

    p {
      font-size: 15px;
      line-height: 148%;
    }
  }

  .contactus-page-social__list {
    li {
      font-size: 26px;
      line-height: 106%;
    }
    a {
      font-size: 26px;
      line-height: 106%;
    }
  }
}
