.footer {
  width: 100%;
  height: 650px;
  background: #212121;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  padding-top: 210px;
  margin-bottom: 150px;
  li {
    img {
      margin-top: 45px;
    }
    p {
      font-family: "PTRootUIWebRegular";
      font-size: 14px;
      line-height: 126%;
      color: #aaaaaa;
      margin-bottom: 20px;
    }
  }
}

.footer__list-social {
  li {
    margin-bottom: 30px;
    a {
      font-family: "Neutral Face";
      font-size: 21px;
      line-height: 106%;
      color: #f5f5f5;
      text-decoration: none;
      transition: 0.2s;
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
}

.footer-line {
  width: 100%;
  height: 1px;
  background-color: #616161;
}

.footer__list-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  li {
    font-family: "PTRootUIWebRegular";
    font-size: 14px;
    line-height: 126%;
    color: #aaaaaa;
  }
}

.contacts {
  li {
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .footer {
    width: 100%;
    height: 518px;
  }

  .footer__list {
    padding-top: 160px;
    margin-top: 0;
    margin-bottom: 140px;
    li {
      p {
        font-size: 13px;
        line-height: 126%;
        margin-bottom: 18px;
      }
      a {
        font-size: 18px;
        line-height: 106%;
      }
    }
    li:first-child {
      img {
        margin-top: 34px;
        width: 72px;
      }
    }
  }

  .footer__list-social.social {
    li:last-child {
      margin: 0;
    }
  }
  .footer__list-social.contacts {
    li:last-child {
      margin: 0;
    }
  }

  .footer__list-footer {
    li {
      font-size: 14px;
      line-height: 126%;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    height: 448px;
  }

  .footer__list {
    display: flex;
    flex-wrap: wrap;
    padding: 84px 60px 0 60px;
    margin: 0;
    margin-bottom: 90px;
    li:first-child {
      width: 100%;
      margin-bottom: 22px;
      img {
        margin: 0;
        width: 68px;
      }
    }
    li {
      p {
        font-size: 12px;
        line-height: 126%;
        margin-bottom: 16px;
      }
    }
  }

  .footer__list-social {
    li {
      margin-bottom: 25px;
      a {
        font-size: 17px;
        line-height: 106%;
        &:hover {
          opacity: 0.7;
        }
        &:active {
          opacity: 0.5;
        }
      }
    }
  }

  .footer__list-social.contacts {
    li {
      margin-bottom: 38px;
    }
  }

  .footer__list-footer {
    margin-top: 16px;
    li {
      font-size: 12px;
      line-height: 120%;
    }
  }
}

// @media (min-width: 320px) and (max-width: 768px) {
//   .footer {
//     width: 100%;
//     height: 604px;
//   }
//   .footer__list {
//     padding: 60px 0 0 50px;
//     max-width: 250px;
//     margin-bottom: 0;
//     li:first-child {
//       width: 100%;
//       margin-bottom: 40px;
//       order: 1;
//       img {
//         margin: 0;
//         width: 60px;
//       }
//     }
//     li {
//       margin-bottom: 34px;
//       p {
//         font-size: 12px;
//         line-height: 126%;
//         margin-bottom: 16px;
//       }
//     }
//     li:last-child {
//       margin-bottom: 40px;
//     }
//   }

//   .footer__list-social {
//     li {
//       margin-bottom: 0;
//       a {
//         font-size: 16px;
//         line-height: 106%;
//         &:hover {
//           opacity: 0.7;
//         }
//         &:active {
//           opacity: 0.5;
//         }
//       }
//     }
//   }
//   .footer__list-social.social {
//     li {
//       margin-bottom: 24px;
//     }
//     li:last-child {
//       margin: 0;
//     }
//   }
//   .footer__list-social.contacts {
//     li:last-child {
//       margin: 0;
//     }
//     li {
//       margin-bottom: 34px;
//     }
//   }
//   .footer__list-social.email {
//     li {
//       margin-bottom: 0;
//     }
//   }

//   .footer__list-footer {
//     li {
//       font-size: 8px;
//       line-height: 118%;
//     }
//   }
// }

@media (max-width: 640px) {
  .footer {
    width: 100%;
    height: 604px;
  }

  .footer__list {
    padding: 60px 0 0 50px;
    max-width: 250px;
    margin-bottom: 0;
    li:first-child {
      width: 100%;
      margin-bottom: 40px;
      order: 1;
      img {
        margin: 0;
        width: 60px;
      }
    }
    li {
      margin-bottom: 34px;
      p {
        font-size: 12px;
        line-height: 126%;
        margin-bottom: 16px;
      }
    }
    li:last-child {
      margin-bottom: 40px;
    }
  }

  .footer__list-social {
    li {
      margin-bottom: 0;
      a {
        font-size: 16px;
        line-height: 106%;
        &:hover {
          opacity: 0.7;
        }
        &:active {
          opacity: 0.5;
        }
      }
    }
  }
  .footer__list-social.social {
    li {
      margin-bottom: 24px;
    }
    li:last-child {
      margin: 0;
    }
  }
  .footer__list-social.contacts {
    li:last-child {
      margin: 0;
    }
    li {
      margin-bottom: 34px;
    }
  }
  .footer__list-social.email {
    li {
      margin-bottom: 0;
    }
  }

  .footer__list-footer {
    li {
      font-size: 8px;
      line-height: 118%;
    }
  }
}
