.form-section {
  width: 100%;
  overflow: hidden;
}

.form {
  margin-top: 250px;
  margin-bottom: 250px;
  display: flex;
  width: 100%;
  height: auto;
}

.form__title {
  display: flex;
  // margin-bottom: 40px;
  width: 540px;
  margin-right: 90px;
  h2 {
    font-family: "NeutralFace-Bold";
    font-size: 48px;
    line-height: 106%;
    color: #212121;
    width: 100%;
    // margin-right: 90px;
  }
}

.form__right-block {
  padding-top: 10px;
  width: 100%;
}

.form__subtitle {
  h3 {
    font-family: "Neutral Face";
    font-size: 36px;
    line-height: 106%;
    color: #212121;
    margin-bottom: 40px;
  }
  p {
    max-width: 543px;
    height: 85px;
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-bottom: 110px;
  }
  .form__phone-link {
    font-family: "PTRootUIWebBold";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

form {
  ul {
    width: 100%;
    margin-bottom: 50px;
    li {
      margin-bottom: 34px;
      height: 100px;
    }
  }

  label {
    display: block;
    font-family: "PTRootUIWebBold";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(13, 13, 13, 0.6);
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    padding-left: 0;
    outline: none;

    &::placeholder {
      font-family: "Neutral Face";
      font-size: 14px;
      line-height: 147.5%;
      color: #d0d0d0;
    }
    &:hover::placeholder {
      color: #212121;
      transition: 0.2s;
    }
    &:focus::placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]:hover,
  input[type="number"]:focus {
    -moz-appearance: number-input;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    display: block;
    width: 248px;
    height: 56px;
    font-family: "PTRootUIWebBold";
    font-size: 18px;
    line-height: 148%;
    text-align: center;
    color: #212121;
    border: 1px solid #212121;
    background: inherit;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      font-family: "PTRootUIWebRegular";
      color: #f5f5f5;
      background: #212121;
      opacity: 0.9;
    }
    &:active {
      font-family: "PTRootUIWebRegular";
      opacity: 1;
    }
  }
}

.form-bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.privacy-policy {
  max-width: 332px;
  a {
    font-family: "PTRootUIWebRegular";
    color: #616161;
    text-decoration: none;
    font-size: 15px;
    line-height: 126%;
    transition: 0.2s;
    span {
      color: #aaaaaa;
    }
    &:hover span {
      color: #616161;
    }
  }
}
.scroll-up {
  width: 152px;
  height: 110px;
  margin: 0 auto;
  margin-bottom: 110px;
  text-align: center;
  svg {
    width: 54px;
    margin-top: 10px;
    margin-bottom: 18px;
    transition: 0.3s;
  }
  &:hover svg {
    margin-top: 0;
    margin-bottom: 28px;
  }
  &:active {
    opacity: 0.5;
  }
  a {
    display: block;
    text-decoration: none;
    font-family: "Neutral Face";
    font-size: 24px;
    line-height: 106%;
    text-align: center;
    color: #212121;
  }
}

.form-complite {
  opacity: 0;
  position: absolute;
  top: -2000px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 30;
  background: #212121;
  transition: 0.2s;
}

.form-complite-active {
  opacity: 1;
  top: 0;
  left: 0;
  position: fixed;
  animation: openBurgerMove 0.5s ease-out;
}

.form-complite-block {
  display: flex;
  width: 100%;
  height: 320px;
  margin: 0 auto;
  margin-top: 30vh;
  p {
    font-family: "Neutral Face";
    font-size: 64px;
    line-height: 120%;
    color: #f5f5f5;
  }
  button {
    margin-top: 70px;
    width: 280px;
    height: 76px;
    opacity: 0.8;
    background-color: inherit;
    border: 2px solid #d0d0d0;
    font-family: "Neutral Face";
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #f5f5f5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.field._error {
  border-bottom: 1px solid red;
}

@media (min-width: 1920px) {
  .form {
    margin-top: 300px;
    margin-bottom: 300px;
  }
  .form__title {
    margin-right: 163px;
  }
}

@media (max-width: 1024px) {
  .form {
    max-width: 680px;
    margin-top: 170px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 190px;
    margin-bottom: 190px;
  }

  .form__title {
    display: flex;
    margin: 0;
    margin-bottom: 60px;
    h2 {
      font-size: 40px;
      line-height: 106%;
    }
  }

  .form__subtitle {
    margin-bottom: 22px;
    h3 {
      font-size: 28px;
      line-height: 106%;
      margin-bottom: 30px;
    }
    p {
      max-width: 465px;
      height: 70px;
      font-size: 16px;
      line-height: 148%;
      margin: 0;
      margin-bottom: 80px;
    }
    .form__phone-link {
      font-size: 16px;
    }
  }

  form {
    ul {
      margin-bottom: 50px;
      li {
        margin-bottom: 30px;
        height: 76px;
      }
    }
    label {
      font-size: 16px;
      line-height: 148%;
      margin-bottom: 8px;
    }
    input {
      font-size: 16px;
      &::placeholder {
        font-size: 13px;
      }
    }
  }

  .privacy-policy {
    max-width: 310px;
    a {
      font-size: 14px;
      line-height: 138%;
    }
  }

  .form-complite-block {
    p {
      font-size: 5vw;
    }
  }
}

@media (max-width: 768px) {
  .form {
    width: 100%;
    margin-top: 170px;
    margin-bottom: 150px;
    flex-wrap: wrap;
    padding-left: 97px;
    padding-right: 50px;
  }

  .form__title {
    display: flex;
    margin: 0;
    margin-bottom: 50px;
    h2 {
      font-size: 36px;
      line-height: 106%;
    }
  }

  .form__right-block {
    // padding-top: 10px;
    width: 100%;
  }

  .form__subtitle {
    margin-bottom: 22px;
    h3 {
      font-size: 26px;
      line-height: 106%;
      margin-bottom: 22px;
    }
    p {
      max-width: 453px;
      font-size: 15px;
      line-height: 148%;
      margin: 0;
      margin-bottom: 80px;
    }
    .form__phone-link {
      font-size: 15px;
    }
  }
  .privacy-policy {
    max-width: 272px;
    a {
      font-size: 12px;
      line-height: 138%;
    }
  }

  .scroll-up {
    font-size: 21px;
    line-height: 106%;
    svg {
      width: 48px;
      margin-top: 10px;
      margin-bottom: 18px;
      transition: 0.3s;
    }
    &:hover svg {
      margin-top: 0;
      margin-bottom: 28px;
    }
    &:active {
      opacity: 0.5;
    }
    a {
      display: block;
      text-decoration: none;
      font-family: "Neutral Face";
      font-size: 24px;
      line-height: 106%;
      text-align: center;
      color: #212121;
    }
  }

  form {
    ul {
      margin-bottom: 60px;
      li {
        margin-bottom: 32px;
        height: 70px;
      }
    }
    label {
      font-size: 15px;
      margin-bottom: 8px;
    }
    input {
      font-size: 15px;
      &::placeholder {
        font-size: 12px;
      }
    }
  }

  .form-complite-block {
    display: flex;
    // max-width: 560px;
    min-height: 210px;
    margin: 0 auto;
    margin-top: 100px;
    p {
      // font-size: 58px;
      line-height: 130%;
    }
    button {
      margin-top: 50px;
    }
  }

  .form-bottom-block {
    display: flex;
    flex-wrap: wrap;

    .privacy-policy {
      max-width: 265px;
      min-height: 24px;
      margin-bottom: 40px;
      font-size: 10px;
    }
    button {
      width: 275px;
      height: 56px;
      margin: 0;
    }
  }
}

@media (max-width: 590px) {
  .form-complite-block {
    // max-width: 265px;
    margin-top: 50px;
    p {
      font-size: 29px;
      line-height: 142%;
    }
    button {
      font-size: 36px;
      max-width: 280px;
      height: 60px;
      margin-top: 50px;
    }
  }
}

@media (max-width: 480px) {
  .form {
    width: 100%;
    margin-top: 100px;
    margin-left: 31px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  .form__title {
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    height: 35px;
    h2 {
      max-width: 264px;
      font-size: 34px;
      margin: 0;
    }
  }

  .form__subtitle {
    margin-bottom: 22px;
    max-width: 100%;
    h3 {
      font-size: 23px;
      line-height: 106%;
      margin-bottom: 22px;
      max-width: 245px;
    }
    p {
      // width: 100%;
      max-width: 90%;
      min-height: 130px;
      font-size: 15px;
      line-height: 148%;
      margin: 0;
      margin-bottom: 50px;
    }
  }

  form {
    padding-right: 10px;
    ul {
      margin-bottom: 30px;
      padding: 0 25px 0 0;
      li {
        margin-bottom: 28px;
        height: 60px;
      }
    }
    label {
      font-size: 14px;
      margin-bottom: 6px;
    }
    input {
      padding: 5px 0;
      font-size: 14px;
      &::placeholder {
        font-size: 10px;
      }
    }
  }

  .form-bottom-block {
    display: flex;
    flex-wrap: wrap;

    .privacy-policy {
      max-width: 265px;
      min-height: 24px;
      margin-bottom: 40px;
      font-size: 10px;
    }
    button {
      width: 245px;
      height: 56px;
      margin: 0;
    }
  }
  .scroll-up {
    margin-bottom: 60px;
  }

  .form-complite-block {
    display: flex;
    max-width: 280px;
    min-height: 210px;
    margin: 0 auto;
    margin-top: 150px;
    p {
      font-size: 29px;
      line-height: 142%;
    }
    button {
      font-size: 36px;
      max-width: 280px;
      height: 60px;
      margin-top: 50px;
    }
  }
}
