.header {
  width: 100%;
  height: 160px;
  padding-top: 30px;
  position: relative;
}

.header__nav {
  opacity: 0;
  position: absolute;
  top: -3000px;
  left: 0;
  width: 100%;
  // height: 100vw;
  z-index: 20;
  background: #212121;
  transition: 0.2s;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header__nav-list {
  width: 1056px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(50vh - 210px);
  li {
    width: 270px;
    height: 50px;
    font-family: "Neutral Face";
    font-size: 36px;
    line-height: 106%;
    margin-right: 60px;
    margin-bottom: 70px;

    a {
      display: flex;
      text-decoration: none;
      color: #d0d0d0;
      opacity: 1;
      transition: 0.2s;
      span {
        margin-top: -8px;
        font-size: 14px;
        margin-right: 24px;
      }

      &:hover {
        color: #fff;
      }
      &:active {
        opacity: 0.5;
      }
      &.active-link {
        color: #fff;
      }
    }
  }
  li:last-child {
    width: 334px;
  }
}

.header__nav-active {
  opacity: 1;
  top: 0;
  left: 0;
  position: fixed;
  animation: openBurgerMove 0.5s ease-out;
  height: 100vh;
}

@keyframes openBurgerMove {
  0% {
    top: -2000px;
    left: 0;
    opacity: 0;
  }
  10% {
    top: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.header__menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  max-width: inherit;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  // padding-left: 3px;
  padding-top: 1px;
  width: 47px;
  height: 20px;
  cursor: pointer;
  transition: 1s;
  &__line1 {
    width: 47px;
    height: 4px;
    margin-bottom: 9px;
    opacity: 1;
    transition: 0.2s;
    background-image: url(../img/burger-line2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &__line2 {
    width: 47px;
    height: 4px;
    background-image: url(../img/burger-line2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
    transition: 0.2s;
  }
  &:hover &__line1 {
    animation: line1 0.4s ease-in-out;
  }
  &:hover &__line2 {
    animation: line2 0.4s ease-in-out;
  }
  &:active &__line1 {
    opacity: 0.5;
  }
  &:active &__line2 {
    opacity: 0.5;
  }
}

@keyframes line1 {
  70% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes line2 {
  70% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
.header__nav-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: calc(50vh - 210px);
}

.close {
  cursor: pointer;
  transition: 0.2s;
  opacity: 1;
  &:hover {
    animation: close-move 0.3s;
  }
  &:active {
    opacity: 0.5;
  }
}

@keyframes close-move {
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.burger__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 25vh;
  p {
    font-family: "PTRootUIWebRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 148%;
    color: #ffffff;
  }
  a {
    text-decoration: none;
    font-family: "PTRootUIWebRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
  }
}

.burger__contacts-img {
  width: 100px;
  margin-right: -160px;
}

.burger__contacts-group {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.social__list {
  display: flex;
  align-items: center;
  li {
    text-decoration: none;
    font-family: "Neutral Face";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 106%;
    color: #ffffff;
  }
  a {
    text-decoration: none;
    font-family: "Neutral Face";
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 106%;
    color: #ffffff;
    transition: 0.2s;
    opacity: 1;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 175px;
  height: 100%;

  svg {
    path {
      transition: 0.3s;
    }
  }
  svg {
    &:hover {
      path {
        opacity: 0.5;
      }
    }
  }
}

.logo__lang-list {
  position: relative;
  &:hover .en {
    display: block;
  }
  &:hover img {
    transform: rotate(180deg);
  }
}

.translator-arrow {
  transition: 0.3s;
  margin-left: 10px;
}

.sub-logo__lang-list {
  position: absolute;
  top: 30px;
}

.ru {
  width: 66px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-family: "PTRootUIWebBold";
  text-transform: uppercase;
  cursor: pointer;
  color: #212121;
}

.en {
  width: 66px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-family: "PTRootUIWebBold";
  text-transform: uppercase;
  cursor: pointer;
  display: none;
  a {
    text-decoration: none;
    color: #212121;
  }

  &:hover {
    opacity: 0.7;
  }
}

.header__nav-lang {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-family: "PTRootUIWebBold";
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 1070px) {
  .header__nav-close {
    margin-bottom: calc(50vh - 210px);
  }

  .header__nav-list {
    max-width: 874px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: calc(50vh - 210px);
    li {
      width: 210px;
      height: 28px;
      font-family: "Neutral Face";
      font-size: 30px;
      line-height: 106%;
      margin-right: 74px;
      margin-bottom: 90px;
      a {
        display: flex;
        text-decoration: none;
        color: #d0d0d0;
        opacity: 1;
        transition: 0.2s;
        span {
          margin-top: 5px;
          font-size: 12px;
          line-height: 106%;
          margin-right: 24px;
        }
      }
    }

    li:last-child {
      width: 304px;
      margin-right: 0;
    }
  }
}

// @media (max-width: 918px) {
//   .header__nav-list {
//     width: 100%;
//     display: flex;
//     flex-wrap: wrap;
//     margin-bottom: 30px;
//     padding-left: 0;
//     li {
//       width: 190px;
//       height: 30px;
//       font-size: 28px;
//       line-height: 106%;
//       margin-right: 30px;
//       margin-bottom: 84px;

//       a {
//         display: flex;
//         text-decoration: none;
//         span {
//           font-size: 10px;
//           line-height: 106%;
//           margin-right: 12px;
//         }
//       }
//     }
//     li:last-child {
//       max-width: 278px;
//     }
//   }

//   .burger__contacts-group {
//     max-width: 450px;
//   }

//   .burger__contacts {
//     padding: 0 12px;
//     li {
//       font-size: 18px;
//       line-height: 106%;
//     }
//     p {
//       font-size: 15px;
//       line-height: 148%;
//     }
//     a {
//       font-size: 18px;
//       line-height: 106%;
//     }
//   }

//   .burger__contacts-img {
//     width: 70px;
//     margin-right: 0;
//   }

// }

@media (max-width: 918px) {
  .header {
    padding-top: 0;
  }

  .header__nav-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-left: 150px;
    // margin-bottom: calc(50vh - 410px);
    li {
      width: 100%;
      height: 30px;
      font-size: 36px;
      line-height: 106%;
      margin-right: 0;
      margin-bottom: 84px;

      a {
        display: flex;
        text-decoration: none;
      }
    }
    li:last-child {
      width: 334px;
    }
  }

  .header__nav-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 100px;
    // margin-bottom: calc(50vh - 410px);
    height: 34px;
    padding: 0 12px;
  }

  .burger__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 25vh;
    p {
      font-size: 14px;
      line-height: 148%;
    }
    a {
      font-size: 14px;
      line-height: 148%;
    }
  }

  .burger__contacts-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 370px;
  }

  .social__list {
    display: flex;
    align-items: center;
    li {
      font-size: 18px;
      line-height: 106%;
    }
    a {
      font-size: 18px;
      line-height: 106%;
    }
  }

  .header__nav-lang {
    font-size: 18px;
  }
  .ru {
    font-size: 18px;
  }

  .en {
    font-size: 18px;
  }

  .translator-arrow {
    transition: 0.3s;
    margin-left: 6px;
  }

  .burger__contacts {
    padding: 0 12px;
  }

  .burger__contacts-img {
    margin-right: 0;
  }
}

@media (max-width: 612px) {
  .header {
    height: 95px;
  }
  .header__nav-close {
    margin-top: 24px;
    margin-bottom: 60px;
    padding: 0 15px;
  }
  .close {
    width: 21px;
  }
  .header__nav-lang {
    font-size: 15px;
  }
  .ru {
    font-size: 15px;
  }

  .en {
    font-size: 15px;
  }

  .header__nav-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 66px;
    padding-left: 0;
    li {
      font-size: 21px;
      margin-right: 0;
      margin-bottom: 50px;
      height: 20px;
      min-width: 100%;
      a {
        display: block;
        text-align: center;
        text-decoration: none;
      }
      span {
        display: none;
      }
    }
    li:last-child {
      width: 334px;
      margin-bottom: 0;
    }
  }

  .burger__contacts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 18px;
    p {
      font-family: "PTRootUIWebRegular";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 148%;
      color: #ffffff;
    }
    a {
      text-decoration: none;
      font-family: "PTRootUIWebRegular";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #ffffff;
    }
  }
  .burger__contacts-img {
    display: none;
  }

  .social__list {
    order: 1;
    margin: 0 auto;
    li {
      font-size: 18px;
      line-height: 106%;
    }
    a {
      text-decoration: none;
      font-family: "Neutral Face";
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 106%;
    }
  }
  .burger__contacts-group {
    order: 2;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 210px;
    margin: 0 auto;
    div {
      min-width: 100%;
      text-align: center;
    }
    p {
      font-size: 13px;
      line-height: 124%;
    }
    a {
      display: block;
      font-size: 13px;
      line-height: 124%;
    }
  }

  .logo {
    max-width: 135px;
  }
}
