.instagram {
  width: 100%;
  overflow: hidden;
}

.instagram__title {
  display: flex;
  margin-bottom: 111px;
  h2 {
    font-family: "NeutralFace-Bold";
    font-size: 48px;
    line-height: 106%;
    color: #212121;
    margin-right: 90px;
    width: 250px;
  }
  a {
    text-decoration: none;
    font-family: "PTRootUIWebRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 106%;
    color: #212121;
    padding-top: 12px;
    transition: 0.2s;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.instagram__list {
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 1920px) {
  .instagram__title {
    margin-bottom: 212px;
  }
}

@media (max-width: 1024px) {
  .instagram__title {
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 80px;
    h2 {
      font-size: 40px;
      line-height: 106%;
      max-width: 284px;
      margin: 0;
      margin-right: 20px;
    }
    a {
      max-width: 198px;
      font-size: 28px;
      line-height: 106%;
      padding: 10px 0 0 0;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 768px) {
  .instagram__title {
    align-items: center;
    h2 {
      font-size: 36px;
      line-height: 106%;
    }
    a {
      font-size: 24px;
      line-height: 106%;
      padding: 0;
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 480px) {
  .instagram__title {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 60px;
    margin-left: 41px;
    h2 {
      font-size: 34px;
      line-height: 106%;
      margin-bottom: 18px;
    }
    a {
      font-size: 24px;
      line-height: 106%;
      padding: 0;
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
}
