main {
  padding-top: 33px;
}

.title-logo {
  opacity: 0;
  transition: 1s;
}
.title-logo._active {
  opacity: 1;
}

.title-text {
  opacity: 0;
  transition: 2s;
}
.title-text._active {
  opacity: 1;
}

.main__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  p {
    max-width: 400px;
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    line-height: 142%;
    margin-top: 15px;
  }
  a {
    text-decoration: none;
    font-family: "PTRootUIWebBold";
    font-size: 16px;
    line-height: 148%;
    color: #212121;
    border-bottom: 1px solid #212121;
    &:hover {
      border-bottom: none;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.main__title-img {
  width: 411px;
  height: 69px;
  margin-left: 19.5%;
  margin-right: 90px;
}

@media (min-width: 1920px) {
  main {
    padding-top: 54px;
  }

  .main__title {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  main {
    padding-top: 0;
  }
  .main__title {
    display: flex;
    flex-wrap: wrap;
    margin-left: 91px;
    margin-bottom: 50px;
    .main__title-img {
      width: 100%;
      margin: 0;
      margin-bottom: 22px;
      height: 54px;
      img {
        width: 326px;
      }
    }
    p {
      margin-top: 0;
      line-height: 136%;
    }
  }
}

@media (max-width: 768px) {
  main {
    padding-top: 0;
  }

  .main__title {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-bottom: 80px;
    .main__title-img {
      margin: 0;
      margin-bottom: 22px;
      height: 54px;
      img {
        width: 326px;
      }
    }
    p {
      margin-top: 0;
      line-height: 136%;
    }
  }
}

@media (max-width: 480px) {
  .main__title {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 24px;
    padding-left: 15px;
    .main__title-img {
      margin: 0;
      // margin-left: 3px;
      margin-bottom: 8px;
      height: 34px;
      img {
        max-width: 212px;
      }
    }
    p {
      max-width: 287px;
      min-height: 36px;
      // margin-left: 6px;
      padding-left: 3px;
      font-size: 14px;
      line-height: 130%;
    }
  }
}
