main {
  width: 100%;
  padding-top: 160px;
}

.main__title {
  display: flex;
  align-items: center;
  // margin-bottom: 30px;
  p {
    max-width: 368px;
    font-family: "PTRootUIWebRegular";
    font-size: 16px;
    line-height: 142%;
    margin-top: 15px;
  }
  a {
    text-decoration: none;
    font-family: "PTRootUIWebBold";
    font-size: 16px;
    line-height: 148%;
    color: #212121;
    border-bottom: 1px solid #212121;
    &:hover {
      border-bottom: none;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

.main__title-img {
  width: 411px;
  height: 69px;
  margin: 0 auto;
  // margin-top: -170px;
  // margin-top: 8px;
  // margin-left: 19.5%;
  // margin-right: 110px;
}

@media (max-width: 768px) {
  main {
    padding-top: 0;
  }

  .main__title {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-bottom: 80px;
    .main__title-img {
      margin: 0;
      margin-bottom: 22px;
      height: 54px;
      img {
        width: 326px;
      }
    }
    p {
      margin-top: 0;
      line-height: 136%;
    }
  }
}
