.privacy-police-body {
  display: flex;
  width: 100%;
  min-height: 135px;
  margin-top: 112px;
  margin-bottom: 250px;
  h2 {
    width: 421px;
    height: 125px;
    margin-right: 90px;
    font-family: "NeutralFace-Bold";
    font-size: 48px;
    line-height: 106%;
    color: #212121;
  }
  h3 {
    max-width: 555px;
    font-family: "PT Root UI";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 106%;
    color: #212121;
  }
  h4 {
    font-family: "PT Root UI";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 148%;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 24px;
  }
  p {
    width: 100%;
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-bottom: 10px;
  }
}

@media (min-width: 1920px) {
  .privacy-police-body {
    margin-bottom: 300px;
    h2 {
      margin-right: 200px;
    }
  }
}

@media (max-width: 1024px) {
  .privacy-police-body {
    max-width: 680px;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 190px;
    h2 {
      width: 100%;
      text-align: left;
    }
    h3 {
      width: 100%;
      text-align: left;
    }
    h4 {
      width: 100%;
      text-align: left;
    }
    p {
      width: 100%;
      text-align: left;
    }
  }
}

// @media (max-width: 768px) {
//   .privacy-police-body {
//     width: 70%;
//     margin: 0 auto;
//     margin-top: 20px;
//     margin-bottom: 170px;
//     flex-direction: column;
//     h2 {
//       width: 260px;
//       height: 36px;
//       font-size: 36px;
//     }
//     p {
//       max-width: 427px;
//       font-size: 15px;
//       line-height: 126%;
//       margin-bottom: 24px;
//     }
//   }
// }

@media (max-width: 480px) {
  .privacy-police-body {
    width: 80%;
    margin: 0 auto;
    h2 {
      width: 100%;
      font-size: 30px;
      height: 40px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 23px;
      width: 100%;
    }
    p {
      width: 100%;
      font-size: 15px;
    }
  }
}
