.process-page {
  display: flex;
  width: 100%;
  min-height: 310px;
  margin-top: 112px;
  margin-bottom: 250px;
  h2 {
    width: 344px;
    min-height: 125px;
    margin-right: 90px;
    font-family: "NeutralFace-Bold";
    font-size: 48px;
    line-height: 106%;
    color: #212121;
  }
  h3 {
    font-family: "PTRootUIWebBold";
    font-size: 36px;
    color: #212121;
    margin-bottom: 30px;
  }
  p {
    max-width: 585px;
    min-height: 120px;
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-bottom: 30px;
  }
}

.process-page__accordion {
  margin-bottom: 250px;
}

.accordion-list__item {
  width: 100%;
  min-height: 100px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgba(170, 170, 170, 0.1);
  }

  .accordion-list__item-btn {
    display: flex;
    align-items: center;
    margin: 40px 0 40px 0;
    p {
      font-family: "PTRootUIWebRegular";
      font-size: 18px;
      line-height: 142%;
      color: #212121;
      max-width: 114px;
      margin-right: 355px;
    }
    h3 {
      font-family: "Neutral Face";
      font-size: 24px;
      line-height: 106%;
      color: #212121;
      width: 304px;
      margin-right: 452px;
    }
    .accordion-img {
      width: 36px;
      height: 36px;
      background-image: url(../img/accordion-cross.svg);
      background-size: cover;
    }
  }

  .accordion-list__item-content {
    display: none;
  }
}

.accordion-list__item-content {
  p {
    max-width: 564px;
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-left: 437px;
    margin-bottom: 30px;
  }
  p:last-child {
    margin-bottom: 60px;
  }
  ul {
    li {
      width: 564px;
      font-family: "PTRootUIWebRegular";
      font-size: 18px;
      line-height: 148%;
      color: #212121;
      margin-left: 437px;
    }
    li:last-child {
      margin-bottom: 60px;
    }
  }
}

.accordion-list__item-active {
  .accordion-list__item-content {
    display: block;
  }
  .accordion-list__item-btn {
    .accordion-img {
      width: 36px;
      height: 36px;
      background-image: url(../img/accordion-minus.svg);
      background-size: cover;
    }
  }
}

.process-page-img{
  img{
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .process-page {
    margin-bottom: 300px;
    h2 {
      margin-right: 200px;
    }
    p {
      max-width: 706px;
      min-height: 80px;
    }
  }

  .process-page__accordion {
    margin-bottom: 300px;
  }

  .accordion-list__item {
    .accordion-list__item-btn {
      p {
        margin-right: 480px;
      }
      h3 {
        margin-right: 670px;
      }
    }
  }

  .accordion-list__item-content {
    p {
      max-width: 640px;
      margin-left: 560px;
    }
    p:last-child {
      margin-bottom: 60px;
    }
    ul {
      li {
        max-width: 640px;
        font-family: "PTRootUIWebRegular";
        font-size: 18px;
        line-height: 148%;
        color: #212121;
        margin-left: 560px;
      }
      li:last-child {
        margin-bottom: 60px;
      }
    }
  }
}
