.ttt {
  display: none;
}

.projects {
  display: flex;
  h2 {
    font-family: "NeutralFace-Bold";
    font-size: 48px;
    line-height: 106%;
    color: #212121;
    width: 344px;
    margin-right: 90px;
  }
  h3 {
    font-family: "PTRootUIWebBold";
    font-size: 36px;
    line-height: 106%;
    color: #212121;
    margin-bottom: 30px;
  }
  p {
    max-width: 648px;
    height: 132px;
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-bottom: 110px;
  }
}

.projects__record-list {
  max-width: 648px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 250px;
  li {
    width: 100px;
  }
  p {
    width: 100px;
    height: 80px;
    margin-bottom: 16px;
    font-family: "Neutral Face";
    font-size: 82px;
    line-height: 106%;
    color: #212121;
  }
  span {
    display: block;
    font-family: "PTRootUIWebRegular";
    font-size: 14px;
    line-height: 126%;
    color: #212121;
    width: 112px;
  }
}

.prev-project {
  a {
    display: block;
    font-family: "Neutral Face";
    font-size: 21px;
    line-height: 106%;
    color: #212121;
    text-decoration: none;
  }
}

.project-one {
  text-align: right;
  margin-bottom: 250px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.project-two-three {
  display: flex;
  justify-content: space-between;
  margin-bottom: 250px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.project-three {
  text-align: right;
  margin-top: 462px;
  img {
    max-width: 100%;
    height: auto;
  }
}
.project-four {
  margin-bottom: 230px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.all-projects {
  width: 465px;
  margin: 0 auto;
  margin-bottom: 250px;

  a {
    font-family: "Neutral Face";
    font-size: 48px;
    line-height: 106%;
    text-align: center;
    color: #212121;
    position: relative;
    text-decoration: none;
    &:before {
      position: absolute;
      content: "";
      top: 12px;
      left: 395px;
      z-index: 1;
      width: 58px;
      height: 34px;
      background-image: url(../img/all-projects-arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: 0.3s;
    }
    &:hover::before {
      left: 405px;
    }
    &:active {
      opacity: 0.5;
    }
  }
}

@media (max-width: 1240px) {
  .project-one {
    text-align: right;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 72px;
    img {
      width: 100%;
    }
  }

  .project-two-three {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 72px;
    img {
      max-width: 100%;
    }
  }

  .project-two {
    width: 100%;
    margin-bottom: 72px;
    text-align: right;
    img {
      width: 100%;
    }
  }

  .project-three {
    width: 100%;
    margin-top: 0;
    text-align: right;
    img {
      width: 100%;
    }
  }

  .project-four {
    text-align: right;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 118px;
    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .projects {
    max-width: 680px;
    margin: 0 auto;
    flex-wrap: wrap;
    h2 {
      font-size: 40px;
      line-height: 106%;
      margin-bottom: 60px;
    }
    h3 {
      font-size: 32px;
      line-height: 106%;
      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      line-height: 148%;
      max-width: 580px;
    }
  }

  .projects__record-list {
    max-width: 580px;
    margin-bottom: 210px;
    p {
      font-size: 76px;
      line-height: 106%;
    }
    li {
      span {
        font-size: 15px;
        line-height: 126%;
      }
    }
  }

  .project-one {
    text-align: right;
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 72px;
    img {
      width: 100%;
    }
  }

  .project-two-three {
    display: flex;
    flex-wrap: wrap;
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 72px;
    img {
      max-width: 100%;
    }
  }

  .project-two {
    width: 100%;
    margin-bottom: 72px;
    text-align: right;
    img {
      width: 100%;
    }
  }

  .project-three {
    width: 100%;
    margin-top: 0;
    text-align: right;
    img {
      width: 100%;
    }
  }

  .project-four {
    text-align: right;
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 118px;
    img {
      max-width: 100%;
    }
  }

  .all-projects {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 190px;
    a {
      font-size: 38px;
      line-height: 106%;
      &:before {
        top: 0;
        left: 320px;
        width: 52px;
        height: 52px;
        background-size: 52px 52px;
      }
      &:hover::before {
        left: 330px;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    h2 {
      font-size: 36px;
      line-height: 106%;
      margin-bottom: 60px;
    }
    h3 {
      font-size: 28px;
      line-height: 106%;
      margin-bottom: 22px;
    }
    p {
      font-size: 15px;
      line-height: 148%;
    }
  }
  .projects__record-list {
    margin-bottom: 170px;
    p {
      font-size: 68px;
      line-height: 106%;
    }
  }
  .project-one {
    text-align: right;
    margin-bottom: 58px;
  }

  .project-two-three {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 58px;
    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  .project-two {
    width: 100%;
    margin-bottom: 58px;
    text-align: right;
    img {
      width: 100%;
    }
  }

  .project-three {
    width: 100%;
    margin-top: 0;
    text-align: right;
    img {
      width: 100%;
    }
  }

  .project-four {
    margin-bottom: 108px;
    text-align: right;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .all-projects {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 170px;

    a {
      font-size: 36px;
      line-height: 106%;
      &:before {
        top: 0;
        left: 310px;
        width: 48px;
        height: 48px;
        background-size: 48px 48px;
      }
      &:hover::before {
        left: 330px;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 480px) {
  .projects {
    max-width: 75%;
    margin: 0 auto;
    flex-wrap: wrap;
    h2 {
      max-width: 240px;
      min-height: 34px;
      font-size: 34px;
      margin: 0;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 22px;
    }
    p {
      width: 100%;
      font-size: 15px;
      line-height: 148%;
      height: auto;
      margin-bottom: 60px;
    }
  }

  .prev-project {
    a {
      padding: 0 10px;
    }
  }

  .projects__record-list {
    margin-bottom: 100px;
    width: 100%;
    li {
      width: 74px;
      p {
        font-size: 48px;
        max-width: 54px;
        min-height: 44px;
        margin-bottom: 0;
      }
      span {
        font-size: 10px;
        line-height: 128%;
      }
    }
  }

  .project-four {
    margin-bottom: 60px;
  }

  .all-projects {
    width: 170px;
    margin: 0;
    margin-left: 41px;
    margin-bottom: 100px;

    a {
      font-size: 30px;
      &:before {
        top: 32px;
        left: 185px;
        width: 34px;
        width: 34px;
        height: 34px;
        background-size: 34px 34px;
      }
      &:hover::before {
        left: 195px;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
  .ttt {
    display: block;
    margin-top: 20px;
  }
}
