.airport-img-2 {
  margin-bottom: 250px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-3 {
  margin-bottom: 250px;
  img {
    display: block;
    width: 1060px;
    height: 700px;
    margin: 0 auto;
  }
}

.airport-img-4 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-5 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-6 {
  margin-bottom: 250px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-7 {
  margin-bottom: 250px;
  img {
    display: block;
    width: 1060px;
    height: 700px;
    margin: 0 auto;
  }
}

.airport-img-8 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-9 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-10 {
  margin-bottom: 110px;
  img {
    display: block;
    width: 850px;
    height: 600px;
    margin: 0 auto;
  }
}

.airport-img-11 {
  margin-bottom: 110px;
  img {
    display: block;
    width: 850px;
    height: 600px;
    margin: 0 auto;
  }
}

.airport-img-12 {
  margin-bottom: 160px;
  img {
    display: block;
    width: 850px;
    height: 600px;
    margin: 0 auto;
  }
}

.airport-img-13 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-14 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-15 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-16 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-17 {
  margin-bottom: 160px;
  img {
    display: block;
    width: 1060px;
    height: 700px;
    margin: 0 auto;
  }
}

.airport-img-18 {
  margin-bottom: 250px;
  img {
    display: block;
    width: 1060px;
    height: 700px;
    margin: 0 auto;
  }
}

.airport-img-19 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.airport-img-2,
.airport-img-3,
.airport-img-4,
.airport-img-5,
.airport-img-6,
.airport-img-7,
.airport-img-8,
.airport-img-9,
.airport-img-10,
.airport-img-11,
.airport-img-12,
.airport-img-13,
.airport-img-14,
.airport-img-15,
.airport-img-16,
.airport-img-17,
.airport-img-18,
.airport-img-19 {
  opacity: 0;
  transition: 1s;
}
.airport-img-2._active,
.airport-img-3._active,
.airport-img-4._active,
.airport-img-5._active,
.airport-img-6._active,
.airport-img-7._active,
.airport-img-8._active,
.airport-img-9._active,
.airport-img-10._active,
.airport-img-11._active,
.airport-img-12._active,
.airport-img-13._active,
.airport-img-14._active,
.airport-img-15._active,
.airport-img-16._active,
.airport-img-17._active,
.airport-img-18._active,
.airport-img-19._active {
  opacity: 1;
}

@media (min-width: 1920px) {
  .airport-img-2 {
    margin-bottom: 300px;
  }

  .airport-img-3 {
    margin-bottom: 300px;
    img {
      width: 1140px;
      height: 760px;
    }
  }

  .airport-img-4 {
    margin-bottom: 90px;
  }

  .airport-img-5 {
    margin-bottom: 90px;
  }

  .airport-img-6 {
    margin-bottom: 300px;
  }

  .airport-img-7 {
    margin-bottom: 300px;
    img {
      width: 1140px;
      height: 760px;
    }
  }

  .airport-img-8 {
    margin-bottom: 90px;
  }

  .airport-img-9 {
    margin-bottom: 220px;
  }

  .airport-img-10 {
    margin-bottom: 140px;
    img {
      width: 1060px;
      height: 750px;
    }
  }

  .airport-img-11 {
    margin-bottom: 140px;
    img {
      width: 1060px;
      height: 750px;
    }
  }

  .airport-img-12 {
    margin-bottom: 220px;
    img {
      width: 1060px;
      height: 750px;
    }
  }

  .airport-img-13 {
    margin-bottom: 90px;
  }

  .airport-img-14 {
    margin-bottom: 90px;
  }

  .airport-img-15 {
    margin-bottom: 90px;
  }

  .airport-img-16 {
    margin-bottom: 300px;
  }

  .airport-img-17 {
    margin-bottom: 140px;
    img {
      width: 1140px;
      height: 760px;
    }
  }

  .airport-img-18 {
    margin-bottom: 300px;
    img {
      width: 1140px;
      height: 760px;
    }
  }

  .airport-img-19 {
    margin-bottom: 220px;
  }
}

@media (max-width: 1201px) {
  .airport-img-3 {
    margin-bottom: 250px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-7 {
    margin-bottom: 250px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-10 {
    margin-bottom: 110px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-11 {
    margin-bottom: 110px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-12 {
    margin-bottom: 160px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-17 {
    margin-bottom: 160px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-18 {
    margin-bottom: 250px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 1024px) {
  .airport-img-2 {
    margin-bottom: 190px;
  }

  .airport-img-3 {
    margin-bottom: 190px;
    img {
      width: 800px;
      height: 500px;
    }
  }

  .airport-img-4 {
    margin-bottom: 80px;
  }

  .airport-img-5 {
    margin-bottom: 80px;
  }

  .airport-img-6 {
    margin-bottom: 190px;
  }

  .airport-img-7 {
    margin-bottom: 190px;
    img {
      width: 800px;
      height: 500px;
    }
  }

  .airport-img-8 {
    margin-bottom: 80px;
  }

  .airport-img-9 {
    margin-bottom: 150px;
  }

  .airport-img-10 {
    margin-bottom: 80px;
    img {
      width: 640px;
      height: 460px;
    }
  }

  .airport-img-11 {
    margin-bottom: 80px;
    img {
      width: 640px;
      height: 460px;
    }
  }

  .airport-img-12 {
    margin-bottom: 80px;
    img {
      width: 640px;
      height: 460px;
    }
  }

  .airport-img-13 {
    margin-bottom: 80px;
  }

  .airport-img-14 {
    margin-bottom: 80px;
  }

  .airport-img-15 {
    margin-bottom: 80px;
  }

  .airport-img-16 {
    margin-bottom: 190px;
  }

  .airport-img-17 {
    margin-bottom: 150px;
    img {
      width: 800px;
      height: 500px;
    }
  }

  .airport-img-18 {
    margin-bottom: 190px;
    img {
      width: 800px;
      height: 500px;
    }
  }

  .airport-img-19 {
    margin-bottom: 140px;
  }
}

@media (max-width: 801px) {
  .airport-img-3 {
    margin-bottom: 190px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-7 {
    margin-bottom: 190px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .airport-img-17 {
    margin-bottom: 150px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-18 {
    margin-bottom: 190px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .airport-img-2 {
    margin-bottom: 170px;
  }

  .airport-img-3 {
    margin-bottom: 170px;
    img {
      width: 560px;
      height: 360px;
    }
  }

  .airport-img-4 {
    margin-bottom: 50px;
  }

  .airport-img-5 {
    margin-bottom: 50px;
  }

  .airport-img-6 {
    margin-bottom: 170px;
  }

  .airport-img-7 {
    margin-bottom: 170px;
    img {
      width: 560px;
      height: 360px;
    }
  }

  .airport-img-8 {
    margin-bottom: 50px;
  }

  .airport-img-9 {
    margin-bottom: 140px;
  }

  .airport-img-10 {
    margin-bottom: 50px;
    img {
      width: 480px;
      height: 350px;
    }
  }

  .airport-img-11 {
    margin-bottom: 50px;
    img {
      width: 480px;
      height: 350px;
    }
  }

  .airport-img-12 {
    margin-bottom: 140px;
    img {
      width: 480px;
      height: 350px;
    }
  }

  .airport-img-13 {
    margin-bottom: 50px;
  }

  .airport-img-14 {
    margin-bottom: 50px;
  }

  .airport-img-15 {
    margin-bottom: 50px;
  }

  .airport-img-16 {
    margin-bottom: 170px;
  }

  .airport-img-17 {
    margin-bottom: 100px;
    img {
      width: 560px;
      height: 360px;
    }
  }

  .airport-img-18 {
    margin-bottom: 170px;
    img {
      width: 560px;
      height: 360px;
    }
  }

  .airport-img-19 {
    margin-bottom: 100px;
  }
}

@media (max-width: 561px) {
  .airport-img-3 {
    margin-bottom: 170px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-7 {
    margin-bottom: 170px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-17 {
    margin-bottom: 100px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-18 {
    margin-bottom: 170px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 480px) {
  .airport-img-2 {
    margin-bottom: 100px;
  }

  .airport-img-3 {
    margin-bottom: 100px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-4 {
    margin-bottom: 30px;
  }

  .airport-img-5 {
    margin-bottom: 30px;
  }

  .airport-img-6 {
    margin-bottom: 100px;
  }

  .airport-img-7 {
    margin-bottom: 100px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-8 {
    margin-bottom: 30px;
  }

  .airport-img-9 {
    margin-bottom: 80px;
  }

  .airport-img-10 {
    margin-bottom: 30px;
    img {
      width: 260px;
      height: 185px;
    }
  }

  .airport-img-11 {
    margin-bottom: 30px;
    img {
      width: 260px;
      height: 185px;
    }
  }

  .airport-img-12 {
    margin-bottom: 80px;
    img {
      width: 260px;
      height: 185px;
    }
  }

  .airport-img-13 {
    margin-bottom: 30px;
  }

  .airport-img-14 {
    margin-bottom: 30px;
  }

  .airport-img-15 {
    margin-bottom: 30px;
  }

  .airport-img-16 {
    margin-bottom: 100px;
  }

  .airport-img-17 {
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-18 {
    margin-bottom: 100px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .airport-img-19 {
    margin-bottom: 60px;
  }
}
