.essence-1-img-2 {
  margin-bottom: 160px;
  opacity: 0;
  transition: 1s;
  img {
    width: 100%;
    height: auto;
  }
}

.essence-1-img-2._active {
  opacity: 1;
}

.essence-1-img-3 {
  margin-bottom: 80px;
  opacity: 0;
  transition: 1s;
  img {
    width: 630px;
    height: 840px;
    margin-left: 217px;
  }
}

.essence-1-img-3._active {
  opacity: 1;
}

.essence-1-img-4 {
  margin-bottom: 80px;
  opacity: 0;
  transition: 1s;
  img {
    width: 630px;
    height: 840px;
    margin-left: 217px;
  }
}

.essence-1-img-4._active {
  opacity: 1;
}

.essence-1-img-5 {
  margin-bottom: 160px;
  opacity: 0;
  img {
    width: 630px;
    height: 840px;
    margin-left: 217px;
  }
}

.essence-1-img-5._active {
  opacity: 1;
}

.essence-1-img-6 {
  margin-bottom: 160px;
  opacity: 0;
  transition: 1s;
  img {
    width: 100%;
    height: auto;
  }
}

.essence-1-img-6._active {
  opacity: 1;
}

.essence-1-img-7-8 {
  margin-bottom: 160px;
  opacity: 0;
  transition: 1s;
  ul {
    display: flex;
    li {
      img {
        width: 100%;
        height: auto;
      }
    }
    li:first-child {
      margin-right: 30px;
    }
  }
}

.essence-1-img-7-8._active {
  opacity: 1;
}

.essence-1-img-9 {
  margin-bottom: 80px;
  opacity: 0;
  transition: 1s;
  img {
    width: 630px;
    height: 840px;
    margin-left: 435px;
  }
}

.essence-1-img-9._active {
  opacity: 1;
}

.essence-1-img-10 {
  margin-bottom: 160px;
  opacity: 0;
  transition: 1s;
  img {
    width: 630px;
    height: 840px;
    margin-left: 435px;
  }
}

.essence-1-img-10._active {
  opacity: 1;
}

.essence-1-img-11 {
  margin-bottom: 160px;
  opacity: 0;
  transition: 1s;
  img {
    width: 100%;
    height: auto;
  }
}

.essence-1-img-11._active {
  opacity: 1;
}

.essence-1-img-12-13 {
  margin-bottom: 160px;
  opacity: 0;
  transition: 1s;
  ul {
    display: flex;
    li {
      img {
        width: 100%;
        height: auto;
      }
    }
    li:first-child {
      margin-right: 30px;
    }
  }
}

.essence-1-img-12-13._active {
  opacity: 1;
}

.essence-1-img-14 {
  margin-bottom: 80px;
  opacity: 0;
  transition: 1s;
  img {
    width: 630px;
    height: 840px;
    margin-left: 217px;
  }
}
.essence-1-img-14._active {
  opacity: 1;
}

.essence-1-img-15 {
  margin-bottom: 160px;
  opacity: 0;
  transition: 1s;
  img {
    width: 630px;
    height: 840px;
    margin-left: 217px;
  }
}

.essence-1-img-15._active {
  opacity: 1;
}

@media (min-width: 1920px) {
  .essence-1-img-2 {
    margin-bottom: 220px;
  }

  .essence-1-img-3 {
    margin-bottom: 110px;
    img {
      width: 780px;
      height: 1040px;
      margin-left: 280px;
    }
  }

  .essence-1-img-4 {
    margin-bottom: 110px;
    img {
      width: 780px;
      height: 1040px;
      margin-left: 280px;
    }
  }

  .essence-1-img-5 {
    margin-bottom: 220px;
    img {
      width: 780px;
      height: 1040px;
      margin-left: 280px;
    }
  }

  .essence-1-img-6 {
    margin-bottom: 90px;
  }

  .essence-1-img-7-8 {
    margin-bottom: 220px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 40px;
      }
    }
  }

  .essence-1-img-9 {
    margin-bottom: 110px;
    img {
      width: 780px;
      height: 1040px;
      margin-left: 540px;
    }
  }

  .essence-1-img-10 {
    margin-bottom: 220px;
    img {
      width: 780px;
      height: 1040px;
      margin-left: 540px;
    }
  }

  .essence-1-img-11 {
    margin-bottom: 90px;
  }

  .essence-1-img-12-13 {
    margin-bottom: 220px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 40px;
      }
    }
  }

  .essence-1-img-14 {
    margin-bottom: 110px;
    img {
      width: 780px;
      height: 1040px;
      margin-left: 280px;
    }
  }

  .essence-1-img-15 {
    margin-bottom: 220px;
    img {
      width: 780px;
      height: 1040px;
      margin-left: 280px;
    }
  }
}

@media (max-width: 1201px) {
  .essence-1-img-3 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 630px;
      height: 840px;
      margin: 0 auto;
    }
  }

  .essence-1-img-4 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 630px;
      height: 840px;
      margin: 0 auto;
    }
  }

  .essence-1-img-5 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 630px;
      height: 840px;
      margin: 0 auto;
    }
  }

  .essence-1-img-9 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 630px;
      height: 840px;
      margin: 0 auto;
    }
  }

  .essence-1-img-10 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 630px;
      height: 840px;
      margin: 0 auto;
    }
  }

  .essence-1-img-14 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 630px;
      height: 840px;
      margin: 0 auto;
    }
  }

  .essence-1-img-15 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 630px;
      height: 840px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1024px) {
  .essence-1-img-2 {
    margin-bottom: 150px;
  }

  .essence-1-img-3 {
    margin-bottom: 80px;
    img {
      width: 500px;
      height: 680px;
    }
  }

  .essence-1-img-4 {
    margin-bottom: 80px;
    img {
      width: 500px;
      height: 680px;
    }
  }

  .essence-1-img-5 {
    margin-bottom: 150px;
    img {
      width: 500px;
      height: 680px;
    }
  }

  .essence-1-img-6 {
    margin-bottom: 150px;
  }

  .essence-1-img-7-8 {
    margin-bottom: 150px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 20px;
      }
    }
  }

  .essence-1-img-9 {
    margin-bottom: 80px;
    img {
      width: 500px;
      height: 680px;
    }
  }

  .essence-1-img-10 {
    margin-bottom: 150px;
    img {
      width: 500px;
      height: 680px;
    }
  }

  .essence-1-img-11 {
    margin-bottom: 80px;
  }

  .essence-1-img-12-13 {
    margin-bottom: 150px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 20px;
      }
    }
  }

  .essence-1-img-14 {
    margin-bottom: 80px;
    img {
      width: 520px;
      height: 680px;
    }
  }

  .essence-1-img-15 {
    margin-bottom: 140px;
    img {
      width: 520px;
      height: 680px;
    }
  }
}

@media (max-width: 768px) {
  .essence-1-img-2 {
    margin-bottom: 140px;
  }

  .essence-1-img-3 {
    margin-bottom: 50px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  .essence-1-img-4 {
    margin-bottom: 50px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  .essence-1-img-5 {
    margin-bottom: 140px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  .essence-1-img-6 {
    margin-bottom: 50px;
  }

  .essence-1-img-7-8 {
    margin-bottom: 140px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 18px;
      }
    }
  }

  .essence-1-img-9 {
    margin-bottom: 50px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  .essence-1-img-10 {
    margin-bottom: 140px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  .essence-1-img-11 {
    margin-bottom: 50px;
  }

  .essence-1-img-12-13 {
    margin-bottom: 140px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 18px;
      }
    }
  }

  .essence-1-img-14 {
    margin-bottom: 50px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  .essence-1-img-15 {
    margin-bottom: 100px;
    img {
      width: 400px;
      height: 540px;
    }
  }
}

@media (max-width: 480px) {
  .essence-1-img-2 {
    margin-bottom: 80px;
  }

  .essence-1-img-3 {
    margin-bottom: 30px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  .essence-1-img-4 {
    margin-bottom: 30px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  .essence-1-img-5 {
    margin-bottom: 80px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  .essence-1-img-6 {
    margin-bottom: 30px;
  }

  .essence-1-img-7-8 {
    margin-bottom: 80px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 10px;
      }
    }
  }

  .essence-1-img-9 {
    margin-bottom: 30px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  .essence-1-img-10 {
    margin-bottom: 80px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  .essence-1-img-11 {
    margin-bottom: 30px;
  }

  .essence-1-img-12-13 {
    margin-bottom: 80px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 8px;
      }
    }
  }

  .essence-1-img-14 {
    margin-bottom: 30px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  .essence-1-img-15 {
    margin-bottom: 60px;
    img {
      width: 236px;
      height: 320px;
    }
  }
}
