.jewellery-img-2 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

.jewellery-img-3 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

.jewellery-img-4 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.jewellery-img-5 {
  margin-bottom: 160px;
  img {
    width: 736px;
    height: 1000px;
    margin-left: 326px;
  }
}

.jewellery-img-6 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.jewellery-img-7 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.jewellery-img-8-9 {
  margin-bottom: 160px;
  ul {
    display: flex;
    li {
      img {
        width: 100%;
        height: auto;
      }
    }
    li:first-child {
      margin-right: 30px;
    }
  }
}

.jewellery-img-10 {
  margin-bottom: 160px;
  img {
    width: 736px;
    height: 1000px;
    margin-left: 217px;
  }
}

.jewellery-img-11 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

.jewellery-img-12 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.jewellery-img-2,
.jewellery-img-3,
.jewellery-img-4,
.jewellery-img-5,
.jewellery-img-6,
.jewellery-img-7,
.jewellery-img-8-9,
.jewellery-img-10,
.jewellery-img-11,
.jewellery-img-12 {
  opacity: 0;
  transition: 1s;
}
.jewellery-img-2._active,
.jewellery-img-3._active,
.jewellery-img-4._active,
.jewellery-img-5._active,
.jewellery-img-6._active,
.jewellery-img-7._active,
.jewellery-img-8-9._active,
.jewellery-img-10._active,
.jewellery-img-11._active,
.jewellery-img-12._active {
  opacity: 1;
}

@media (min-width: 1920px) {
  .jewellery-img-2 {
    margin-bottom: 90px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-3 {
    margin-bottom: 90px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-4 {
    margin-bottom: 220px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-5 {
    margin-bottom: 220px;
    img {
      width: 900px;
      height: 1200px;
      margin-left: 420px;
    }
  }

  .jewellery-img-6 {
    margin-bottom: 90px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-7 {
    margin-bottom: 90px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-8-9 {
    margin-bottom: 220px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 40px;
      }
    }
  }

  .jewellery-img-10 {
    margin-bottom: 160px;
    img {
      width: 900px;
      height: 1200px;
      margin-left: 280px;
    }
  }

  .jewellery-img-11 {
    margin-bottom: 90px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-12 {
    margin-bottom: 220px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 1201px) {
  .jewellery-img-5 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 736px;
      height: 1000px;
      margin: 0 auto;
    }
  }

  .jewellery-img-10 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 736px;
      height: 1000px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1024px) {
  .jewellery-img-2 {
    margin-bottom: 80px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-3 {
    margin-bottom: 80px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-4 {
    margin-bottom: 150px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-5 {
    margin-bottom: 150px;
    img {
      width: 520px;
      height: 680px;
    }
  }

  .jewellery-img-6 {
    margin-bottom: 80px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-7 {
    margin-bottom: 80px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-8-9 {
    margin-bottom: 150px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 20px;
      }
    }
  }

  .jewellery-img-10 {
    margin-bottom: 150px;
    img {
      width: 520px;
      height: 680px;
    }
  }

  .jewellery-img-11 {
    margin-bottom: 80px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-12 {
    margin-bottom: 140px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .jewellery-img-2 {
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-3 {
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-4 {
    margin-bottom: 140px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-5 {
    margin-bottom: 140px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  .jewellery-img-6 {
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-7 {
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-8-9 {
    margin-bottom: 140px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 18px;
      }
    }
  }

  .jewellery-img-10 {
    margin-bottom: 140px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  .jewellery-img-11 {
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-12 {
    margin-bottom: 100px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 480px) {
  .jewellery-img-2 {
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-3 {
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-4 {
    margin-bottom: 80px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-5 {
    margin-bottom: 80px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  .jewellery-img-6 {
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-7 {
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-8-9 {
    margin-bottom: 80px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 7px;
      }
    }
  }

  .jewellery-img-10 {
    margin-bottom: 80px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  .jewellery-img-11 {
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .jewellery-img-12 {
    margin-bottom: 60px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
