.project-text-links {
  font-family: "PTRootUIWebRegular";
  font-size: 18px;
  line-height: 148%;
  color: #212121;
  text-decoration: none;
  transform: 0.2s;
  border-bottom: 1px solid #212121;
  &:hover {
    opacity: 0.7;
  }
}
