.project-main {
  display: flex;
  width: 100%;
  min-height: 155px;
  margin-top: 112px;
  margin-bottom: 250px;
  h2 {
    width: 344px;
    min-height: 48px;
    margin-right: 90px;
    font-family: "NeutralFace-Bold";
    font-size: 48px;
    line-height: 106%;
    color: #212121;
  }
  h3 {
    font-family: "PTRootUIWebBold";
    font-size: 36px;
    color: #212121;
    margin-bottom: 30px;
  }
  p {
    max-width: 628px;
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
  }
}

.project__list {
}

.project__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.project__list-item:last-child {
  margin-bottom: 160px;
}

.project__list-item-title {
  h3 {
    font-family: "NeutralFace-Bold";
    font-size: 36px;
    line-height: 106%;
    color: #212121;
    margin-bottom: 12px;
  }
  p {
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-bottom: 26px;
  }
  a {
    text-decoration: none;
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
  }
}

.project__list-item-img {
  img {
    width: 100%;
  }
}

.pagination-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pagination-btn__prev,
.pagination-btn__next {
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 130%;
  color: #212121;
  background-color: transparent;
  cursor: pointer;
}

.pagination-pages {
  font-family: "Neutral Face";
  font-size: 30px;
  line-height: 106%;
  text-align: center;
  color: #212121;
}
