.project-main {
  display: flex;
  width: 100%;
  min-height: 155px;
  margin-top: 112px;
  margin-bottom: 250px;
  opacity: 0;
  transition: 1s;
  h2 {
    width: 344px;
    min-height: 48px;
    margin-right: 90px;
    font-family: "NeutralFace-Bold";
    font-size: 48px;
    line-height: 106%;
    color: #212121;
  }
  h3 {
    font-family: "PTRootUIWebBold";
    font-size: 36px;
    color: #212121;
    margin-bottom: 30px;
  }
  p {
    max-width: 628px;
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-bottom: 10px;
  }
}

.project-main._active {
  opacity: 1;
}

.project__list {
  opacity: 0;
  transition: 1s;
}
.project__list._active {
  opacity: 1;
}

.project__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.project__list-item:last-child {
  margin-bottom: 160px;
}

.project__list-item-title {
  width: 282px;
  margin-right: 20px;
  h3 {
    font-family: "NeutralFace-Bold";
    font-size: 36px;
    line-height: 106%;
    color: #212121;
    margin-bottom: 12px;
  }
  p {
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-bottom: 26px;
  }
  a {
    text-decoration: none;
    font-family: "PTRootUIWebBold";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: -5px;
      left: 170px;
      z-index: 1;
      background-image: url(../img/arrow-link-project.svg);
      background-size: cover;
      width: 36px;
      height: 36px;
      transition: 0.2s;
      opacity: 1;
    }
    &:hover::before {
      left: 180px;
    }
    &:active {
      opacity: 0.7;
    }
  }
}

.project__list-item-img {
  img {
    width: 100%;
    height: auto;
  }
}

.pagination-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 250px;
}

.pagination-btn__prev,
.pagination-btn__next {
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 130%;
  color: #212121;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    color: #616161;
  }
  &:active {
    color: #212121;
  }
}

.pagination-pages {
  font-family: "Neutral Face";
  font-size: 30px;
  line-height: 106%;
  text-align: center;
  color: #212121;
}

@media (min-width: 1920px) {
  .project-main {
    margin-bottom: 300px;
    h2 {
      margin-right: 200px;
    }
  }

  .project__list-item {
    margin-bottom: 60px;
  }

  .project__list-item:last-child {
    margin-bottom: 220px;
  }

  .pagination-btn {
    margin-bottom: 300px;
  }

  // .project__list-item-img {
  //   max-width: 1060px;
  //   height: 740px;
  //   overflow: hidden;
  // }

  // .project__list-item-img img {
  //   transition: 3s;
  // }
  // .project__list-item-title:hover ~ .project__list-item-img img {
  //   width: 1095px;
  // }
}

@media (max-width: 1024px) {
  .project-main {
    display: flex;
    flex-direction: column;
    width: 680px;
    margin: 0 auto;
    margin-bottom: 190px;
    h2 {
      max-width: 260px;
      min-height: 40px;
      font-size: 40px;
      line-height: 106%;
      margin-bottom: 60px;
    }
    h3 {
      font-size: 34px;
      line-height: 106%;
    }
    p {
      max-width: 543px;
      font-size: 16px;
      line-height: 148%;
    }
  }

  .project__list-item-title {
    width: 240px;
    h3 {
      font-size: 31px;
      line-height: 106%;
    }
    p {
      font-size: 16px;
      line-height: 148%;
    }
    a {
      font-size: 16px;
      line-height: 106%;
      &::before {
        top: -5px;
        left: 150px;
        z-index: 1;
        width: 30px;
        height: 30px;
      }
      &:hover::before {
        left: 160px;
      }
    }
  }
  .pagination-btn {
    margin-bottom: 190px;
  }

  // .project__list-item-img {
  //   max-width: 620px;
  //   height: 440px;
  //   overflow: hidden;
  // }

  // .project__list-item-img img {
  //   transition: 3s;
  // }
  // .project__list-item-title:hover ~ .project__list-item-img img {
  //   width: 655px;
  // }
}

@media (max-width: 768px) {
  .project-main {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 170px;
    h2 {
      max-width: 260px;
      min-height: 36px;
      font-size: 36px;
      line-height: 106%;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 28px;
      line-height: 106%;
      margin-bottom: 22px;
    }
    p {
      max-width: 360px;
      font-size: 15px;
      line-height: 148%;
    }
  }

  .project__list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  // .project__list-item-img {
  //   width: 100%;
  //   // height: auto;
  //   // overflow: visible;
  //   img {
  //     width: 100%;
  //     height: auto;
  //   }
  // }

  // .project__list-item-title:hover ~ .project__list-item-img img {
  //   width: 100%;
  // }

  .project__list-item-img {
    order: 1;
    margin-bottom: 18px;
  }

  .project__list-item-title {
    order: 2;
    display: flex;
    width: 100%;
    h3 {
      width: 220px;
      font-size: 28px;
      line-height: 106%;
      margin-bottom: 0;
      margin-right: 30px;
    }
    p {
      font-size: 15px;
      line-height: 148%;
      margin-bottom: 11px;
    }
    a {
      font-size: 15px;
      line-height: 106%;
      &::before {
        top: -4px;
        left: 140px;
        width: 28px;
        height: 28px;
      }
      &:hover::before {
        left: 150px;
      }
    }
  }
  .project__list-item:last-child {
    margin-bottom: 115px;
  }

  .pagination-btn {
    margin-bottom: 170px;
  }
}

@media (max-width: 480px) {
  .project-main {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 80px;
    h2 {
      width: 100%;
      height: 34px;
      font-size: 34px;
    }
    h3 {
      font-size: 24px;
      line-height: 106%;
    }
    p {
      width: 100%;
      font-size: 15px;
      line-height: 148%;
      margin-bottom: 24px;
    }
  }

  .project__list-item-title {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    h3 {
      font-size: 28px;
      line-height: 106%;
      margin-bottom: 20px;
    }
    p {
      font-size: 15px;
      line-height: 148%;
      margin-bottom: 11px;
    }
    a {
      font-size: 15px;
      line-height: 106%;
      &::before {
        top: -4px;
        left: 140px;
      }
      &:hover::before {
        left: 150px;
      }
      &:active {
        opacity: 0.7;
      }
    }
  }
  .project__list-item {
    margin-bottom: 85px;
  }
  .project__list-item:last-child {
    margin-bottom: 65px;
  }

  .pagination-btn__prev,
  .pagination-btn__next {
    font-size: 15px;
    line-height: 130%;
    width: 60px;
  }

  .pagination-pages {
    font-size: 26px;
    line-height: 106%;
  }

  .pagination-btn {
    margin-bottom: 100px;
  }

  .project__list-item-img {
    margin-bottom: 30px;
  }
}
