.harris-daddy-img-2 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.harris-daddy-img-3 {
  margin-bottom: 80px;
  img {
    width: 600px;
    height: 820px;
    margin-left: 435px;
  }
}

.harris-daddy-img-4 {
  margin-bottom: 160px;
  img {
    width: 600px;
    height: 820px;
    margin-left: 435px;
  }
}

// .harris-daddy-img-5 {
//   margin-bottom: 110px;
//   img {
//     width: 100%;
//     height: auto;
//   }
// }

.harris-daddy-img-6-7 {
  margin-bottom: 160px;
  ul {
    display: flex;
    li {
      img {
        width: 100%;
        height: auto;
      }
    }
    li:first-child {
      margin-right: 32px;
    }
  }
}

.harris-daddy-img-8 {
  margin-bottom: 160px;
  img {
    width: 736px;
    height: 970px;
    margin-left: 217px;
  }
}

.harris-daddy-img-9 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

.harris-daddy-img-10 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.harris-daddy-img-11 {
  margin-bottom: 160px;
  img {
    width: 736px;
    height: 970px;
    margin-left: 217px;
  }
}

.harris-daddy-img-2,
.harris-daddy-img-3,
.harris-daddy-img-4,
// .harris-daddy-img-5,
.harris-daddy-img-6-7,
.harris-daddy-img-8,
.harris-daddy-img-9,
.harris-daddy-img-10,
.harris-daddy-img-11 {
  opacity: 0;
  transition: 1s;
}
.harris-daddy-img-2._active,
.harris-daddy-img-3._active,
.harris-daddy-img-4._active,
// .harris-daddy-img-5._active,
.harris-daddy-img-6-7._active,
.harris-daddy-img-8._active,
.harris-daddy-img-9._active,
.harris-daddy-img-10._active,
.harris-daddy-img-11._active {
  opacity: 1;
}

@media (min-width: 1920px) {
  .harris-daddy-img-2 {
    margin-bottom: 220px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .harris-daddy-img-3 {
    margin-bottom: 110px;
    img {
      width: 740px;
      height: 1000px;
      margin-left: 540px;
    }
  }

  .harris-daddy-img-4 {
    margin-bottom: 220px;
    img {
      width: 740px;
      height: 1000px;
      margin-left: 540px;
    }
  }

  // .harris-daddy-img-5 {
  //   margin-bottom: 90px;
  // }

  .harris-daddy-img-6-7 {
    margin-bottom: 220px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 40px;
      }
    }
  }

  .harris-daddy-img-8 {
    margin-bottom: 160px;
    img {
      width: 800px;
      height: 1060px;
      margin-left: 400px;
    }
  }

  .harris-daddy-img-9 {
    margin-bottom: 90px;
  }

  .harris-daddy-img-10 {
    margin-bottom: 220px;
  }

  .harris-daddy-img-11 {
    margin-bottom: 160px;
    img {
      width: 900px;
      height: 1200px;
      margin-left: 280px;
    }
  }
}

@media (max-width: 1201px) {
  .harris-daddy-img-3 {
    margin-bottom: 110px;
    img {
      display: block;
      width: 600px;
      height: 820px;
      margin: 0 auto;
    }
  }

  .harris-daddy-img-4 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 600px;
      height: 820px;
      margin: 0 auto;
    }
  }

  .harris-daddy-img-8 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 736px;
      height: 970px;
      margin: 0 auto;
    }
  }

  .harris-daddy-img-11 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 736px;
      height: 970px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1024px) {
  .harris-daddy-img-2 {
    margin-bottom: 150px;
  }

  .harris-daddy-img-3 {
    margin-bottom: 80px;
    img {
      display: block;
      width: 500px;
      height: 680px;
      margin: 0 auto;
    }
  }

  .harris-daddy-img-4 {
    margin-bottom: 150px;
    img {
      display: block;
      width: 500px;
      height: 680px;
      margin: 0 auto;
    }
  }

  // .harris-daddy-img-5 {
  //   margin-bottom: 120px;
  // }

  .harris-daddy-img-6-7 {
    margin-bottom: 150px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 22px;
      }
    }
  }

  .harris-daddy-img-8 {
    margin-bottom: 150px;
    img {
      display: block;
      width: 500px;
      height: 680px;
      margin: 0 auto;
    }
  }

  .harris-daddy-img-9 {
    margin-bottom: 80px;
  }

  .harris-daddy-img-10 {
    margin-bottom: 150px;
  }

  .harris-daddy-img-11 {
    margin-bottom: 140px;
    img {
      display: block;
      width: 500px;
      height: 680px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .harris-daddy-img-2 {
    margin-bottom: 140px;
  }

  .harris-daddy-img-3 {
    margin-bottom: 50px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  .harris-daddy-img-4 {
    margin-bottom: 140px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  // .harris-daddy-img-5 {
  //   margin-bottom: 50px;
  // }

  .harris-daddy-img-6-7 {
    margin-bottom: 140px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 18px;
      }
    }
  }

  .harris-daddy-img-8 {
    margin-bottom: 140px;
    img {
      width: 400px;
      height: 540px;
    }
  }

  .harris-daddy-img-9 {
    margin-bottom: 50px;
  }

  .harris-daddy-img-10 {
    margin-bottom: 140px;
  }

  .harris-daddy-img-11 {
    margin-bottom: 100px;
    img {
      width: 400px;
      height: 540px;
    }
  }
}

@media (max-width: 480px) {
  .harris-daddy-img-2 {
    margin-bottom: 80px;
  }

  .harris-daddy-img-3 {
    margin-bottom: 30px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  .harris-daddy-img-4 {
    margin-bottom: 80px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  // .harris-daddy-img-5 {
  //   margin-bottom: 30px;
  // }

  .harris-daddy-img-6-7 {
    margin-bottom: 80px;
    ul {
      display: flex;
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 10px;
      }
    }
  }

  .harris-daddy-img-8 {
    margin-bottom: 80px;
    img {
      width: 236px;
      height: 320px;
    }
  }

  .harris-daddy-img-9 {
    margin-bottom: 30px;
  }

  .harris-daddy-img-10 {
    margin-bottom: 80px;
  }

  .harris-daddy-img-11 {
    margin-bottom: 60px;
    img {
      width: 236px;
      height: 320px;
    }
  }
}
