.umecos-img-2 {
  margin-bottom: 250px;
  img {
    width: 100%;
    height: auto;
  }
}
.umecos-img-logo {
  width: 366px;
  height: 306px;
  margin: 0 auto;
  margin-bottom: 250px;
}

.umecos-img-3 {
  margin-bottom: 110px;
  img {
    width: 100%;
    height: auto;
  }
}

// .umecos-img-4 {
//   margin-bottom: 250px;
//   img {
//     width: 100%;
//     height: auto;
//   }
// }

.umecos-img-5 {
  margin-bottom: 250px;
  img {
    width: 738px;
    height: 936px;
    margin-left: 326px;
  }
}

.umecos-img-6 {
  margin-bottom: 250px;
  img {
    width: 100%;
    height: auto;
  }
}

.umecos-img-7 {
  margin-bottom: 250px;
  img {
    width: 738px;
    height: 936px;
    margin-left: 326px;
  }
}

.umecos-img-8 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.umecos-img-9 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.umecos-img-10 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.umecos-img-11-12 {
  margin-bottom: 160px;
  ul {
    display: flex;
    li {
      img {
        width: 100%;
        height: auto;
      }
    }
    li:first-child {
      margin-right: 32px;
    }
  }
}

.umecos-img-13 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.umecos-img-14 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.umecos-img-15 {
  margin-bottom: 80px;
  img {
    width: 840px;
    height: 626px;
    margin-left: 326px;
  }
}

.umecos-img-16 {
  margin-bottom: 160px;
  img {
    width: 840px;
    height: 626px;
    margin-left: 326px;
  }
}

.umecos-img-17 {
  margin-bottom: 160px;
  img {
    width: 100%;
    height: auto;
  }
}

.umecos-img-2,
.umecos-img-logo,
.umecos-img-3,
// .umecos-img-4,
.umecos-img-5,
.umecos-img-6,
.umecos-img-7,
.umecos-img-8,
.umecos-img-9,
.umecos-img-10,
.umecos-img-11-12,
.umecos-img-13,
.umecos-img-14,
.umecos-img-15,
.umecos-img-16,
.umecos-img-17 {
  opacity: 0;
  transition: 1s;
}
.umecos-img-2._active,
.umecos-img-logo._active,
.umecos-img-3._active,
// .umecos-img-4._active,
.umecos-img-5._active,
.umecos-img-6._active,
.umecos-img-7._active,
.umecos-img-8._active,
.umecos-img-9._active,
.umecos-img-10._active,
.umecos-img-11-12._active,
.umecos-img-13._active,
.umecos-img-14._active,
.umecos-img-15._active,
.umecos-img-16._active,
.umecos-img-17._active {
  opacity: 1;
}

@media (min-width: 1920px) {
  .umecos-img-2 {
    margin-bottom: 300px;
  }

  .umecos-img-logo {
    margin-bottom: 300px;
  }

  .umecos-img-3 {
    margin-bottom: 90px;
  }

  // .umecos-img-4 {
  //   margin-bottom: 220px;
  // }

  .umecos-img-5 {
    margin-bottom: 220px;
    img {
      width: 840px;
      height: 1060px;
      margin-left: 460px;
    }
  }

  .umecos-img-6 {
    margin-bottom: 220px;
  }

  .umecos-img-7 {
    margin-bottom: 220px;
    img {
      width: 840px;
      height: 1060px;
      margin-left: 460px;
    }
  }

  .umecos-img-8 {
    margin-bottom: 220px;
  }

  .umecos-img-9 {
    margin-bottom: 160px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .umecos-img-10 {
    margin-bottom: 140px;
  }

  .umecos-img-11-12 {
    margin-bottom: 140px;
    ul {
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 40px;
      }
    }
  }

  .umecos-img-13 {
    margin-bottom: 90px;
  }

  .umecos-img-14 {
    margin-bottom: 220px;
  }

  .umecos-img-15 {
    margin-bottom: 110px;
    img {
      width: 1080px;
      height: 800px;
      margin-left: 408px;
    }
  }

  .umecos-img-16 {
    margin-bottom: 220px;
    img {
      width: 1080px;
      height: 800px;
      margin-left: 408px;
    }
  }

  .umecos-img-17 {
    margin-bottom: 220px;
  }
}

@media (max-width: 1201px) {
  .umecos-img-15 {
    margin-bottom: 110px;
    img {
      display: block;
      width: 840px;
      height: 626px;
      margin: 0 auto;
    }
  }
  .umecos-img-16 {
    margin-bottom: 160px;
    img {
      display: block;
      width: 840px;
      height: 626px;
      margin: 0 auto;
    }
  }

  .umecos-img-5 {
    margin-bottom: 250px;
    img {
      display: block;
      width: 738px;
      height: 936px;
      margin: 0 auto;
    }
  }

  .umecos-img-7 {
    margin-bottom: 250px;
    img {
      display: block;
      width: 738px;
      height: 936px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1024px) {
  .umecos-img-2 {
    margin-bottom: 190px;
  }

  .umecos-img-logo {
    width: 270px;
    height: 226px;
    margin: 0 auto;
    margin-bottom: 190px;
  }

  .umecos-img-3 {
    margin-bottom: 80px;
  }

  // .umecos-img-4 {
  //   margin-bottom: 150px;
  // }

  .umecos-img-5 {
    margin-bottom: 150px;
    img {
      display: block;
      width: 520px;
      height: 680px;
      margin: 0 auto;
    }
  }

  .umecos-img-6 {
    margin-bottom: 150px;
  }

  .umecos-img-7 {
    margin-bottom: 150px;
    img {
      display: block;
      width: 520px;
      height: 680px;
      margin: 0 auto;
    }
  }

  .umecos-img-8 {
    margin-bottom: 80px;
  }

  .umecos-img-9 {
    margin-bottom: 80px;
  }

  .umecos-img-10 {
    margin-bottom: 80px;
  }

  .umecos-img-11-12 {
    margin-bottom: 80px;
    ul {
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 24px;
      }
    }
  }

  .umecos-img-13 {
    margin-bottom: 80px;
  }

  .umecos-img-14 {
    margin-bottom: 160px;
  }

  .umecos-img-15 {
    margin-bottom: 80px;
    img {
      display: block;
      width: 580px;
      height: 440px;
      margin: 0 auto;
    }
  }

  .umecos-img-16 {
    margin-bottom: 150px;
    img {
      display: block;
      width: 580px;
      height: 440px;
      margin: 0 auto;
    }
  }

  .umecos-img-17 {
    margin-bottom: 150px;
  }
}

@media (max-width: 768px) {
  .umecos-img-2 {
    margin-bottom: 170px;
  }

  .umecos-img-logo {
    width: 234px;
    height: 194px;
    margin: 0 auto;
    margin-bottom: 170px;
  }

  .umecos-img-3 {
    margin-bottom: 50px;
  }

  // .umecos-img-4 {
  //   margin-bottom: 140px;
  // }

  .umecos-img-5 {
    margin-bottom: 140px;
    img {
      display: block;
      width: 400px;
      height: 520px;
      margin: 0 auto;
    }
  }

  .umecos-img-6 {
    margin-bottom: 140px;
  }

  .umecos-img-7 {
    margin-bottom: 140px;
    img {
      display: block;
      width: 400px;
      height: 520px;
      margin: 0 auto;
    }
  }

  .umecos-img-8 {
    margin-bottom: 50px;
  }

  .umecos-img-9 {
    margin-bottom: 50px;
  }

  .umecos-img-10 {
    margin-bottom: 50px;
  }

  .umecos-img-11-12 {
    margin-bottom: 50px;
    ul {
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 18px;
      }
    }
  }

  .umecos-img-13 {
    margin-bottom: 50px;
  }

  .umecos-img-14 {
    margin-bottom: 140px;
  }

  .umecos-img-15 {
    margin-bottom: 50px;
    img {
      display: block;
      width: 380px;
      height: 280px;
      margin: 0 auto;
    }
  }

  .umecos-img-16 {
    margin-bottom: 140px;
    img {
      display: block;
      width: 380px;
      height: 280px;
      margin: 0 auto;
    }
  }

  .umecos-img-17 {
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .umecos-img-2 {
    margin-bottom: 100px;
  }

  .umecos-img-logo {
    width: 172px;
    height: 144px;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .umecos-img-3 {
    margin-bottom: 30px;
  }

  // .umecos-img-4 {
  //   margin-bottom: 80px;
  // }

  .umecos-img-5 {
    margin-bottom: 80px;
    img {
      display: block;
      width: 236px;
      height: 310px;
      margin: 0 auto;
    }
  }

  .umecos-img-6 {
    margin-bottom: 80px;
  }

  .umecos-img-7 {
    margin-bottom: 80px;
    img {
      display: block;
      width: 236px;
      height: 310px;
      margin: 0 auto;
    }
  }

  .umecos-img-8 {
    margin-bottom: 30px;
  }

  .umecos-img-9 {
    margin-bottom: 30px;
  }

  .umecos-img-10 {
    margin-bottom: 30px;
  }

  .umecos-img-11-12 {
    margin-bottom: 30px;
    ul {
      li {
        img {
          width: 100%;
          height: auto;
        }
      }
      li:first-child {
        margin-right: 10px;
      }
    }
  }

  .umecos-img-13 {
    margin-bottom: 30px;
  }

  .umecos-img-14 {
    margin-bottom: 100px;
  }

  .umecos-img-15 {
    margin-bottom: 30px;
    img {
      display: block;
      width: 240px;
      height: 180px;
      margin: 0 auto;
    }
  }

  .umecos-img-16 {
    margin-bottom: 100px;
    img {
      display: block;
      width: 240px;
      height: 180px;
      margin: 0 auto;
    }
  }

  .umecos-img-17 {
    margin-bottom: 60px;
  }
}
