.projects {
  display: flex;
  h2 {
    font-family: "NeutralFace-Bold";
    font-size: 48px;
    line-height: 106%;
    color: #212121;
    width: 344px;
    margin-right: 90px;
  }
  h3 {
    font-family: "PTRootUIWebBold";
    font-size: 36px;
    line-height: 106%;
    color: #212121;
    margin-bottom: 30px;
  }
  p {
    width: 648px;
    height: 132px;
    font-family: "PTRootUIWebRegular";
    font-size: 18px;
    line-height: 148%;
    color: #212121;
    margin-bottom: 110px;
  }
}

.projects__record-list {
  width: 648px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 250px;
  li {
    width: 100px;
  }
  p {
    width: 100px;
    height: 80px;
    margin-bottom: 16px;
    font-family: "Neutral Face";
    font-size: 82px;
    line-height: 106%;
    color: #212121;
  }
  span {
    display: block;
    font-family: "PTRootUIWebRegular";
    font-size: 14px;
    line-height: 126%;
    color: #212121;
    width: 112px;
  }
}

.prev-project {
  a {
    display: block;
    font-family: "Neutral Face";
    font-size: 21px;
    line-height: 106%;
    color: #212121;
    text-decoration: none;
  }
}

.project-one {
  text-align: right;
  margin-bottom: 250px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.project-two-three {
  display: flex;
  justify-content: space-between;
  margin-bottom: 250px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.project-three {
  text-align: right;
  margin-top: 462px;
  img {
    max-width: 100%;
    height: auto;
  }
}
.project-four {
  margin-bottom: 230px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.all-projects {
  width: 465px;
  margin: 0 auto;
  margin-bottom: 250px;

  a {
    font-family: "Neutral Face";
    font-size: 48px;
    line-height: 106%;
    text-align: center;
    color: #212121;
    position: relative;
    text-decoration: none;
    &:before {
      position: absolute;
      content: "";
      top: 12px;
      left: 395px;
      z-index: 1;
      width: 58px;
      height: 34px;
      background-image: url(../img/all-projects-arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: 0.3s;
    }
    &:hover::before {
      left: 405px;
    }
    &:active {
      opacity: 0.5;
    }
  }
}
