.slider__block {
  display: flex;
  justify-content: space-between;
  // margin-top: 50px;
  margin-bottom: 250px;
}

.slider__block-buttons {
  display: flex;
  align-items: center;
}

.slider {
  width: 80%;
  max-width: 80%;
  height: auto;
  overflow: hidden;
}

.slider-line {
  width: 1024px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

input,
select,
textarea {
  background: none;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 0.9rem;
}

select {
  box-sizing: border-box;
  padding: 9px 20px 10px 20px;
}

textarea {
  display: block;
  margin-bottom: 20px;
}

input[type="color"] {
  padding: 8px 8px;
  position: relative;
  bottom: -2px;
}

input[type="date"] {
  padding: 8px 8px;
}

input[type="range"] {
  position: relative;
  bottom: -14px;
}

input[type="date"]:active,
input[type="date"]:focus,
input[type="color"]:active,
input[type="color"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
select:active,
select:focus {
  border-radius: 0 !important;
  outline: none;
}

.slider__count {
  font-family: "Neutral Face";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 106%;
  text-align: center;
  color: #212121;
  width: 54px;
  height: 38px;
}

.button {
  cursor: pointer;
  width: 18px;
  height: 18px;
  margin-top: 0;
  &:hover {
    opacity: 0.5;
  }
}

.out-block {
  font-size: 1rem;
  font-family: monospace;
}

.section {
  margin: 10px 0 10px 0;
  padding: 10px 0 30px 0;
  border-bottom: 1px solid #c2c2c2;
}

.section div {
  margin-bottom: 20px;
}

// swiper
.section-swiper {
  display: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: inherit;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .section-swiper {
    display: block;
    margin-bottom: 190px;
  }
  .section-slider {
    display: none;
  }
}

@media (max-width: 480px) {
  .section-swiper {
    display: block;
    margin-bottom: 100px;
  }
}
