@font-face {
  font-family: "Neutral Face";
  src: url("../fonts/NeutralFaceRegular.woff2") format("woff2"),
    url("../fonts/NeutralFaceRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeutralFace-Bold";
  src: url("../fonts/NeutralFaceBold.woff2") format("woff2"),
    url("../fonts/NeutralFaceBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTRootUIWebRegular";
  src: url("../fonts/PT-Root-UI_Regular.woff2") format("woff2"),
    url("../fonts/PT-Root-UI_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTRootUIWebBold";
  src: url("../fonts/PT-Root-UI_Bold.woff2") format("woff2"),
    url("../fonts/PT-Root-UI_Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
